$title: 'din-2014', sans-serif;
$sans: 'Lato', sans-serif;

//Branding colors
$links:  #009BDF;
$links--light: #80CDEF;
$secondary: #A7A9AC;
$secondary--light: #E6E6E6;
$main: black;
$green: #8EBE3F;
$green--light: #E3EFCF;
$blue:  #009BDF;
$blue--light: #80CDEF;
$red: #E31D3C;
$red--light: #F8C7CE;

//Filter colors
$academic: #00458C;
$academic--light: #BFD1E2;

$student: #26AAA5;
$student--light: #C9EAE8;

$admission: #E31D3C;
$admission--light: #F8C7CE;

$library: #511C74;
$library--light: #DED6E9;

$shop: #8EBE3F;
$shop--light: #E3EFCF;

$clubs: #F47920;
$clubs--light: #FCDDC7;

$other: #FFC20E;
$other--light: #FFF0C3;

//Form colors
$form-header: #87888A;

//Width of event submission box
$box-width:32.5em;
