$title: 'Pathway Gothic One', sans-serif;
$sans: 'Lato', sans-serif;

$links:  #0087C6;
$academic: #0087C6;
$student: #1FC9B3;
$admission: #DD2E44;
$library: #722780;
$shop: #95CC3F;
$clubs: #F37820;
$other: #FFC700;
