.Page {
  text-align: center;
}

.Form {
  display: block;

  // Boundary box around form
  &__box {
    display: block;
    width: $box-width;
    border-radius: 0.5em;
    padding: 1em 1.5em;
    margin: 1.5em auto 1em;
    box-shadow: 0.1em 0.1em 0.25em $secondary;

    &__buttons {
      padding: .1em .1em;
      border:transparent;
      box-shadow: 0.1em 0.1em 0.25em transparent;
    }
  }

  &__flex {
    display:flex;
  }

  // Hoverable messages
  &__tooltip {
    stroke: $links;
    position: relative;
    display: inline-block;

    &__text {
      padding: 0.5em 0.5em;
      visibility: hidden;
      text-align: left;
      border-radius: 0.5em;
      width: 20em;
      background-color: $main;
      opacity: 80%;

      font-family: $sans;
      font-size: 0.75em;
      text-transform: none;
      font-weight: 400;
      color: white;

      position: absolute;
      z-index: 1;
      margin-left: 1em;
    }

    &:hover + .Form__tooltip__text {
      visibility: visible;
    }
  }

  // Row for duration section
  &__row {
    display: block;

    h2 {
      display: block;
      text-align: left;
      font-family: $title;
      font-size: 1em;
      font-weight: 800;
      color: $form-header;
      text-transform: uppercase;
      padding-left: 0.1em;
      margin-bottom: 0.5em;
    }

    &__buttons {
      display: flex;

      input {
        display: none;

        // Unchecked radio buttons should be transparent
        &[type="radio"][name="duration"]:not(:checked) + label {
            opacity: .5;
        }
      }

      label {
        align-content: flex-start;
        font-family: $title;
        font-size: 1em;
        font-weight: 800;
        color: white;
        text-transform: uppercase;
        padding: 0.5em 0.5em;
        margin: 0em 0.5em 0.5em 0em;
        border: none;
        border-radius: 0.5em;
        background-color: $links;
        opacity: 0.5;
        transition-duration: 0.3s;

        &:hover {
          opacity: 1;
        }

        &:focus {
          opacity: 1;
        }
      }
    }
  }

  // Row for Date-Time sections
  &__date {
    display: flex;

    label {
      display: block;
      text-align: left;
      font-family: $title;
      font-size: 1em;
      font-weight: 800;
      color: $form-header;
      text-transform: uppercase;
      padding-left: 0.1em;
      margin-bottom: 0.5em;
    }

    input {

    }
  }

  &__time {
    overflow: hidden;

    label {
      display: block;
      text-align: left;
      font-family: $title;
      font-size: 1em;
      font-weight: 800;
      color: $form-header;
      text-transform: uppercase;
      padding-left: 0.1em;
      margin-bottom: 0.5em;
    }

    select {
      display: block;
      font-family: $sans;
      font-size: 1em;
      color: $main;
      border: none;
      background-color: $secondary--light;
      border-radius: 0.5em;
      padding: 0.5em 0.5em;
      margin-bottom: 0.5em;

      option {
        font-family: $sans;
        font-size: 1em;
        color: $main;
      }
    }
  }

  // Styling dropdown menu
  &__category {
    overflow: hidden;

    select {
      display: block;
      font-family: $sans;
      font-size: 1em;
      color: $main;
      background-color: $secondary--light;
      border: none;
      border-radius: 0.5em;
      padding: 0.5em 0.5em;
      margin-bottom: 0.5em;
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 0 0.3em $secondary;
      }

      option {
        font-family: $sans;
        font-size: 1em;
      }
    }
  }

  [id^="duration--"]:not(.js-showFieldSet) {
      display: none;
  }
  // Row for each form line
  &__field {
    display: block;

    &--flex {
      display: flex;
      justify-content: flex-start;

      & > :not(:last-child) {
          margin-right: .5em;
      }
    }

    label {
      display: block;
      text-align: left;
      font-family: $title;
      font-size: 1em;
      font-weight: 800;
      color: $form-header;
      text-transform: uppercase;
      padding-left: 0.1em;
      margin-bottom: 0.5em;
      }

    input {
      display: block;
      text-align: left;
      width: 100%;
      border: none;
      border-radius: 0.5em;
      background-color: $secondary--light;
      padding: 0.5em;
      margin-bottom: 0.5em;
      font-family: $sans;
      font-size: 1em;
      color: $main;

      &::placeholder {
        color: $secondary;
      }
    }

    textarea {
      display: block;
      text-align: left;
      width: 29.5em;
      height: 7em;
      resize: vertical;
      border: none;
      border-radius: 0.5em;
      background-color: $secondary--light;
      padding: 0.75em 0.5em;
      margin-bottom: 0.5em;
      font-family: $sans;
      font-size: 1em;
      color: $main;

      &::placeholder {
        color: $secondary;
      }
    }
  }

  &__submit {
    background-color: $links;
    border: none;
    border-radius: 0.25em;
    color: white;
    font-size: 1.5em;
    font-family: $title;
    font-weight: 400;
    padding: 0.25em 0.5em;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 0.3s;
    box-shadow: 0.1em 0.1em 0.25em $secondary;
    cursor: pointer;

    &:hover {
      background-color: $links--light;
    }
  }

  &__button {
    border: none;
    border-radius: 0.25em;
    color: white;
    font-size: 1.2em;
    font-family: $title;
    font-weight: 400;
    text-transform:uppercase;
    padding: 0.25em 0.5em;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 0.3s;
    box-shadow: 0.1em 0.1em 0.25em $secondary;

    &--green {
      background-color: $green;
      &:hover {
          background-color: $green--light;
        }
    }

    &--blue {
      background-color: $blue;
      &:hover {
          background-color: $blue--light;
        }
    }

    &--red {
      background-color: $red;
      &:hover {
          background-color: $red--light;
        }
    }

  }
}
