.Page {
  text-align: center;
  margin-bottom: 1rem;
}

.Form {
  display: block;

  // Boundary box around form
  &__box {
    display: block;
    width: $box-width;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    margin: 1.5rem auto 1rem;
    box-shadow: 0.1rem 0.1rem 0.25rem $secondary;

    &__buttons {
      padding: .1rem .1rem;
      border: transparent;
      box-shadow: 0.1rem 0.1rem 0.25rem transparent;
    }
  }

  &__flex {
    display:flex;
  }

  // Hoverable messages
  &__tooltip {
    stroke: $links;
    position: relative;
    display: inline-block;

    &__text {
      padding: 0.5rem 0.5rem;
      visibility: hidden;
      text-align: left;
      border-radius: 0.5rem;
      width: 20rem;
      background-color: $main;
      opacity: 80%;

      font-family: $sans;
      font-size: 0.75rem;
      text-transform: none;
      font-weight: 400;
      color: white;

      position: absolute;
      z-index: 1;
      margin-left: 1rem;
    }

    &:hover + .Form__tooltip__text {
      visibility: visible;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;

    &__time {
      display: flex;
      flex-direction: column;

      &::placeholder {
        color: $secondary;
      }

      &__labels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        label {
          display: block;
          text-align: left;
          font-family: $title;
          font-size: 1rem;
          font-weight: 600;
          color: $form-header;
          text-transform: uppercase;
          padding-left: 0.1rem;
          margin-bottom: 0.5rem;
          margin-right: 0.5rem;
        }

        span {
          display: block;
          font-family: $sans;
          font-style: italic;
          color: $links;
        }
      }

      &__fields {
        display: flex;
        align-items: baseline;

        p {
          font-family: $sans;
          font-size: 1rem;
          display: block;
          text-align: center;
          margin-right: 0.5rem;
        }

        input {
          display: block;
          text-align: left;
          border:  0.1rem solid transparent;
          border-radius: 0.5rem;
          background-color: $secondary--light;
          padding: 0.5rem 0rem 0.5rem 0.5rem;
          margin-bottom: 0.5rem;
          margin-right: 0.5rem;
          font-family: $sans;
          font-size: 1rem;
          color: $main;
          transition-duration: 0.3s;

          &::-webkit-inner-spin-button {
            display: none;
          }

          &:disabled {
            display: none;
          }

          &::-webkit-calendar-picker-indicator {
            width: 0.5rem;

            &:hover {
              cursor: pointer;
            }
          }

          &::placeholder {
            color: $secondary;
          }

          &:hover {
            border: 0.1rem solid $links;
            outline: none;
          }

          &:active {
            border: 0.1rem solid $links;
            outline: none;
            transition-duration: none;
          }

          &:focus {
            border: 0.1rem solid $links;
            outline: none;
            transition-duration: none;
          }
        }
      }
    }

    &__day {
      display: block;
      text-align: left;
      margin-bottom: 1rem;

      label {
        font-family: $sans;
        font-size: 0.75;
      }
    }
  }
  // Styling dropdown menu
  &__category {
    overflow: visible;

    select {
      display: block;
      font-family: $sans;
      font-size: 1rem;
      color: $main;
      background-color: $secondary--light;
      border: 0.1rem solid transparent;
      border-radius: 0.5rem;
      padding: 0.5rem 0.5rem;
      margin-bottom: 0.5rem;
      transition-duration: 0.3s;

      &:hover {
        border: 0.1rem solid $links;
        outline: none;
        cursor: pointer;
      }

      &:active {
        border: 0.1rem solid $links;
        outline: none;
        transition-duration: none;
      }

      &:focus {
        border: 0.1rem solid $links;
        outline: none;
        transition-duration: none;
      }

      option {
        font-family: $sans;
        font-size: 1rem;
      }
    }
  }

  [id^="duration--"]:not(.js-showFieldSet) {
      display: none;
  }
  // Row for each form line
  &__field {
    display: block;

    &--flex {
      display: flex;
      justify-content: flex-start;

      & > :not(:last-child) {
          margin-right: .5rem;
      }
    }

    label {
      display: block;
      text-align: left;
      font-family: $title;
      font-size: 1rem;
      font-weight: 600;
      color: $form-header;
      text-transform: uppercase;
      padding-left: 0.1rem;
      margin-bottom: 0.5rem;
      }

    input {
      display: block;
      text-align: left;
      width: 100%;
      border:  0.1rem solid transparent;
      border-radius: 0.5rem;
      background-color: $secondary--light;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      font-family: $sans;
      font-size: 1rem;
      color: $main;
      transition-duration: 0.3s;

      &::placeholder {
        color: $secondary;
      }

      &:hover {
        border: 0.1rem solid $links;
        outline: none;
      }

      &:active {
        border: 0.1rem solid $links;
        outline: none;
        transition-duration: none;
      }

      &:focus {
        border: 0.1rem solid $links;
        outline: none;
        transition-duration: none;
      }
    }

    textarea {
      display: block;
      text-align: left;
      width: 100%;
      height: 6.25rem;
      resize: vertical;
      border: 0.1rem solid transparent;
      border-radius: 0.5rem;
      background-color: $secondary--light;
      padding: 0.5rem 0.5rem;
      margin-bottom: 0.5rem;
      font-family: $sans;
      font-size: 1rem;
      color: $main;
      transition-duration: 0.3s;

      &::placeholder {
        color: $secondary;
      }

      &:hover {
        border: 0.1rem solid $links;
        outline: none;
      }

      &:active {
        border: 0.1rem solid $links;
        outline: none;
        transition-duration: none;
      }

      &:focus {
        border: 0.1rem solid $links;
        outline: none;
        transition-duration: none;
      }
    }
  }

  &__submit {
    background-color: $links;
    border: 0.2rem solid transparent;
    border-radius: 0.25rem;
    color: white;
    font-size: 1.5rem;
    font-family: $title;
    font-weight: 400;
    padding: 0.25rem 0.5rem;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 0.3s;
    box-shadow: 0.1rem 0.1rem 0.25rem $secondary;
    cursor: pointer;

    &:hover {
      background-color: $links--light;
    }

    &:focus {
      outline: none;
      border: 0.2rem solid $links--light;
    }

    &:active {
      outline: none;
      border: 0.2rem solid $links--light;
    }
  }

  &__button {
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 1.2rem;
    font-family: $title;
    font-weight: 400;
    text-transform:uppercase;
    padding: 0.25rem 0.5rem;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 0.3s;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.25rem $secondary;

    &--green {
      background-color: $green;
      &:hover {
          background-color: $green--light;
        }
    }

    &--blue {
      background-color: $blue;
      &:hover {
          background-color: $blue--light;
        }
    }

    &--red {
      background-color: $red;
      &:hover {
          background-color: $red--light;
        }
    }

  }
}
