.Page {
  text-align: center;
  margin-bottom: 1em;
}

.Form {
  display: block;

  // Boundary box around form
  &__box {
    display: block;
    width: $box-width;
    border-radius: 0.5em;
    padding: 1em 1.5em;
    margin: 1.5em auto 1em;
    box-shadow: 0.1em 0.1em 0.25em $secondary;

    &__buttons {
      padding: .1em .1em;
      border:transparent;
      box-shadow: 0.1em 0.1em 0.25em transparent;
    }
  }

  &__flex {
    display:flex;
  }

  // Hoverable messages
  &__tooltip {
    stroke: $links;
    position: relative;
    display: inline-block;

    &__text {
      padding: 0.5em 0.5em;
      visibility: hidden;
      text-align: left;
      border-radius: 0.5em;
      width: 20em;
      background-color: $main;
      opacity: 80%;

      font-family: $sans;
      font-size: 0.75em;
      text-transform: none;
      font-weight: 400;
      color: white;

      position: absolute;
      z-index: 1;
      margin-left: 1em;
    }

    &:hover + .Form__tooltip__text {
      visibility: visible;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;

    &__time {
      display: flex;
      flex-direction: column;

      &::placeholder {
        color: $secondary;
      }

      label {
        display: block;
        text-align: left;
        font-family: $title;
        font-size: 1em;
        font-weight: 600;
        color: $form-header;
        text-transform: uppercase;
        padding-left: 0.1em;
        margin-bottom: 0.5em;
      }

      &__fields {
        display: flex;
        align-items: baseline;

        p {
          margin: 0em 0.5em;
          display: block;
          text-align: center;
        }

        input {
          display: block;
          text-align: left;
          width: 100%;
          border:  0.1em solid transparent;
          border-radius: 0.5em;
          background-color: $secondary--light;
          padding: 0.5em;
          margin-bottom: 0.5em;
          font-family: $sans;
          font-size: 1em;
          color: $main;
          transition-duration: 0.3s;

          &::-webkit-inner-spin-button {
            display: none;
          }

          &::placeholder {
            color: $secondary;
          }

          &:hover {
            border: 0.1em solid $links;
            outline: none;
          }

          &:active {
            border: 0.1em solid $links;
            outline: none;
            transition-duration: none;
          }

          &:focus {
            border: 0.1em solid $links;
            outline: none;
            transition-duration: none;
          }
        }
      }
    }

    &__day {
      display: block;
      text-align: left;
      margin-bottom: 1em;

      label {
        font-family: $sans;
        font-size: 0.75;

        span {
          font-style: italic;
        }
      }
    }
  }
  // Styling dropdown menu
  &__category {
    overflow: visible;

    select {
      display: block;
      font-family: $sans;
      font-size: 1em;
      color: $main;
      background-color: $secondary--light;
      border: 0.1em solid transparent;
      border-radius: 0.5em;
      padding: 0.5em 0.5em;
      margin-bottom: 0.5em;
      transition-duration: 0.3s;

      &:hover {
        border: 0.1em solid $links;
        outline: none;
      }

      &:active {
        border: 0.1em solid $links;
        outline: none;
        transition-duration: none;
      }

      &:focus {
        border: 0.1em solid $links;
        outline: none;
        transition-duration: none;
      }

      option {
        font-family: $sans;
        font-size: 1em;
      }
    }
  }

  [id^="duration--"]:not(.js-showFieldSet) {
      display: none;
  }
  // Row for each form line
  &__field {
    display: block;

    &--flex {
      display: flex;
      justify-content: flex-start;

      & > :not(:last-child) {
          margin-right: .5em;
      }
    }

    label {
      display: block;
      text-align: left;
      font-family: $title;
      font-size: 1em;
      font-weight: 600;
      color: $form-header;
      text-transform: uppercase;
      padding-left: 0.1em;
      margin-bottom: 0.5em;
      }

    input {
      display: block;
      text-align: left;
      width: 100%;
      border:  0.1em solid transparent;
      border-radius: 0.5em;
      background-color: $secondary--light;
      padding: 0.5em;
      margin-bottom: 0.5em;
      font-family: $sans;
      font-size: 1em;
      color: $main;
      transition-duration: 0.3s;

      &::placeholder {
        color: $secondary;
      }

      &:hover {
        border: 0.1em solid $links;
        outline: none;
      }

      &:active {
        border: 0.1em solid $links;
        outline: none;
        transition-duration: none;
      }

      &:focus {
        border: 0.1em solid $links;
        outline: none;
        transition-duration: none;
      }
    }

    textarea {
      display: block;
      text-align: left;
      width: 29.5em;
      height: 5em;
      resize: vertical;
      border: 0.1em solid transparent;
      border-radius: 0.5em;
      background-color: $secondary--light;
      padding: 0.5em 0.5em;
      margin-bottom: 0.5em;
      font-family: $sans;
      font-size: 1em;
      color: $main;
      transition-duration: 0.3s;

      &::placeholder {
        color: $secondary;
      }

      &:hover {
        border: 0.1em solid $links;
        outline: none;
      }

      &:active {
        border: 0.1em solid $links;
        outline: none;
        transition-duration: none;
      }

      &:focus {
        border: 0.1em solid $links;
        outline: none;
        transition-duration: none;
      }
    }
  }

  &__submit {
    background-color: $links;
    border: 0.2em solid transparent;
    border-radius: 0.25em;
    color: white;
    font-size: 1.5em;
    font-family: $title;
    font-weight: 400;
    padding: 0.25em 0.5em;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 0.3s;
    box-shadow: 0.1em 0.1em 0.25em $secondary;
    cursor: pointer;

    &:hover {
      background-color: $links--light;
    }

    &:focus {
      outline: none;
      border: 0.2em solid $links--light;
    }

    &:active {
      outline: none;
      border: 0.2em solid $links--light;
    }
  }

  &__button {
    border: none;
    border-radius: 0.25em;
    color: white;
    font-size: 1.2em;
    font-family: $title;
    font-weight: 400;
    text-transform:uppercase;
    padding: 0.25em 0.5em;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 0.3s;
    cursor: pointer;
    box-shadow: 0.1em 0.1em 0.25em $secondary;

    &--green {
      background-color: $green;
      &:hover {
          background-color: $green--light;
        }
    }

    &--blue {
      background-color: $blue;
      &:hover {
          background-color: $blue--light;
        }
    }

    &--red {
      background-color: $red;
      &:hover {
          background-color: $red--light;
        }
    }

  }
}
