.Admin {
  min-width: 80em;
  margin-top: 1em;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    &__title {
      text-align: center;
      display: block;
      font-family: $title;
      font-size: 1.5em;
      color: $links;
      margin-left: 1em;
    }

    select {
      display: block;
      font-family: $sans;
      font-size: 1em;
      color: $main;
      border: 0.05em solid $main;
      background-color: white;
      border-radius: 0.5em;
      padding: 0.5em 0.5em;
      margin-right: 1em;

      option {
        font-family: $sans;
        font-size: 1em;
        color: $main;
      }
    }
  }

  &__table-wrapper {
    margin: 0em 1em;

    table {
      margin-bottom: 1em;
      border-collapse: collapse;
      width: 100%;
      float: left;

      td, th {
        padding: 0.5em 1em;
        text-align: left;
      }

      thead {
        border-bottom: 0.1em solid $main;

        th {
          font-family: $title;
          font-weight: 600;
          font-size: 1em;
          color: $main;
          text-transform: uppercase;
        }
      }

      tbody {

        td {
          font-family: $sans;
          color: $main;
          vertical-align: center;
        }

        td[class="Timestamp"] {
          width: 11.5em;
        }

        td[class="Submitter"] {
          min-width: 8em;
        }

        td[class="Status"] {
          min-width: 10em;

          &[data-status="Approved"] {
            color: $shop;
          }

          &[data-status="Pending"] {
            color: $clubs;
          }

          &[data-status="Awaiting"] {
            color: $clubs;
          }

          &[data-status="Canceled"] {
            color: $admission;
          }
        }

        td[class="Event--Name"] {
          min-width: 10em;
        }

        td[class="Event--Page"] {
          min-width: 5em;
          max-width: 12em;
          overflow: hidden;
          white-space: nowrap;
        }

        td[class="Edit--Link"] {
          min-width: 5em;
          max-width: 12em;
          overflow: hidden;
          white-space: nowrap;
        }

        td[class="Cell--Moderator"] {
          width: 23.5em;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
        }
      }

      tbody tr:hover {
        background: $secondary--light;
      }
    }
  }
}

.Moderator {
  border: none;
  border-radius: 0.25em;
  color: black;
  font-size: 0.9em;
  font-family: $title;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 0.5em;
  text-align: center;
  margin-right: 0.5em;
  transition-duration: 0.3s;


  &--approve {
    border: 0.2em solid $shop;

    &:hover {
      background-color: $shop;
      color: white;
    }
  }

  &--request {
    width: 10.25em;
    border: 0.2em solid $links;

    &:hover {
      background-color: $links;
      color: white;
    }
  }

  &--cancel {
    border: 0.2em solid $admission;

    &:hover {
      background-color: $admission;
      color: white;
    }
  }
}
