@import 'vars';

.fc-event {
    cursor: pointer;
}

// Changed font of calendar header
.fc-left, .fc-right {
    font-family: $sans;
}

.fc-center, h2 {
  font-family: $title;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.85em;
}

// Added text color of all calendar buttons
.fc-button {
    padding: .25em .5em;
    border: 1px solid $secondary--light;
    border-radius: 0.5em;
    background-color: white;
    color: black !important;
}

.fc-button.fc-icon {
  vertical-align:  baseline !important;
}

// Changed text style for "Sun-Sat" headers
.fc-day-header.fc-widget-header {
  font-family: $sans;
  font-style: normal;
  padding: 0.2em;
  font-size: 0.75em;
}

// Modified font size of time text on table
.fc-axis.fc-widget-content {
  font-size: 1em !important;

  // Modified font size of "all-day" header
  span {
    font-size: 0.75em;
  }
}

// Modified bottom margin from header strip
.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.75em;
}

// Modified font size of calendar header
.fc-toolbar h2 {
  font-size: 1.5em !important;
  margin: 0;
}

// Modified text style of calendar numbers
.fc-day-number {
  font-size: 1em;
  font-family: $sans;
}

// Modified background color of highlighted "today" day
.fc-unthemed td.fc-today {
  background: $secondary--light;
}

// Modified "today" button
.fc-today-button.fc-button.fc-button-primary:active {
  color: $links !important;
  background-color: white !important;
}

.fc-today-button.fc-button.fc-button-primary:hover {
  color: $links !important;
  background-color: white !important;
}

// Modified border color of calendar time-grid
.fc-unthemed {
  td, th {
  border-color: #d0d0d0;
  }
}

.fc-unthemed .fc-divider {
  background: #d0d0d0 !important;
  border-color: #d0d0d0 !important;
}

// Modified color of border between "all-day" and "hours" on calendar
.fc-unthemed .fc-divider {
  background: #d0d0d0;
  border-color: #d0d0d0;
}

// Modified text style of "hours" column
.fc-axis.fc-widget-content {
  font-family: $sans;
}

// Added right margin to calendar table for scroll bar
.fc-row {
  margin-right: 0.75em !important;
}

// Modified scrollbar style
.fc-scroller::-webkit-scrollbar {
  width: 0.75em;
  height:100%;
  border-left: #d0d0d0 solid 0.05em;
  background: transparent;
}

.fc-scroller::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0.5em;
  transition-duration: 0.3s;
}

.fc-scroller:hover::-webkit-scrollbar-thumb {
  background: #999;
}

.fc-scroller.fc-time-grid-container {
  overflow: overlay;
}

// Changed style and background color of all buttons
.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
  background-color: $secondary--light !important;
  border-color: $secondary--light !important;
}

.fc-button-primary:not(:disabled):active:focus, .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none !important;
}

.fc-button-primary:hover {
  background-color: $secondary--light !important;
  border-color: $secondary--light !important;
}

.fc-button-primary:disabled {
  background-color: white !important;
  border-color: $secondary--light !important;
}

.fc-today-button {
  height: 2em !important;
}

.fc-prev-button {
    margin-right: .5em;
}

.fc-prev-button, .fc-next-button {
    width: 2em;
    height: 2em;
    padding: .25em;
    border-radius: 0.5em !important;
}

.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
    background-color: $secondary--light;
    color: white;
}

.fc-button-group {
  height: 2em;
}

// Changed styling of events
.fc-time {
  font-family: $sans;
  font-weight: bold;
  font-size: 0.725em !important;
}

.fc-title {
  font-family: $sans;
  font-size: 1em;
  word-wrap: break-word;
}
