
.Confirmation {

    &__message {
        font-family: $sans;
        font-size: 1em;
        color: $main;
        display: block;
        width: $box-width;
        padding: 0.5em 1.5em;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1em;

        &__link {
            color: $links;
            text-decoration: none;
            transition-duration: 0.3s;

            &:hover {
              opacity: 0.5;
            }
        }

        h2 {
          font-family: $title;
          font-size: 1.25em;
          font-weight: 600;
          text-transform: uppercase;
          margin: 1em 0em;
        }

        p {
            margin-bottom:1em;
        }
    }
}

.Submission {

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__content {

        &__title {
        font-family: $title;
        font-size: 2em;
        font-weight: 600;
        text-transform: uppercase;
        }

        &__block {
        display: block;
        margin: 0.75em 0em;
        }

        &__tag {
            font-size: 1rem;
            font-family: $sans;
            color: black;
            text-transform: capitalize;
            text-decoration: none;
            border-radius: 0.5rem;
            padding: 0.35rem 0.5rem .35rem .8rem;
            display: inline-block;
            position: relative;
      
            &[data-tag="academic_affairs"] {background-color: $academic--light; &::before {background-color: $academic}}
            &[data-tag="academic_support"] {background-color: $academic--light; &::before {background-color: $academic}}
            &[data-tag="academic_calendar"] {background-color: $academic--light; &::before {background-color: $academic}}
            &[data-tag="international"] {background-color: $student--light; &::before {background-color: $student}}
            &[data-tag="residential"] {background-color: $student--light; &::before {background-color: $student}}
            &[data-tag="health"] {background-color: $student--light; &::before {background-color: $student}}
            &[data-tag="pgp"] {background-color: $student--light; &::before {background-color: $student}}
            &[data-tag="hr"] {background-color: $student--light; &::before {background-color: $student}}
            &[data-tag="student_affairs"] {background-color: $student--light; &::before {background-color: $student}}
            &[data-tag="admission"] {background-color: $admission--light; &::before {background-color: $admission}}
            &[data-tag="library"] {background-color: $library--light; &::before {background-color: $library}}
            &[data-tag="shop"] {background-color: $shop--light; &::before {background-color: $shop}}
            &[data-tag="clubs"] {background-color: $clubs--light; &::before {background-color: $clubs}}
            &[data-tag="other"] {background-color: $other--light; &::before {background-color: $other}}
      
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 8px;
                height: 100%;
                background-color: inherit;
            }
          }

        &__table {
        width: 100%;

        &__row {
            height: 1.75em;
        }
        }

        &__headers {
        font-family: $sans;
        font-size: 1em;
        color: black;
        font-weight: bold;
        width: 6em;
        vertical-align: top;
        }

        &__text {
        font-family: $sans;
        font-size: 1em;
        color: black;
        vertical-align: top;

            &__link {
                padding-left: 0.5em;
                color: $links;
                text-decoration: none;
            }
        }

        &__date {
        color: black;
        font-family: $sans;
        font-size: 1em;
        padding-right: 0.5em;
        }

        &__time {
        color: black;
        font-family: $sans;
        font-size: 1em;
        padding-right: 0.5em;
        padding-left: 0.5em;
        }
    }
    &__box {
        display: block;
        width: $box-width;
        border: none;
        border-radius: 0.5em;
        padding: 1em 1.5em;
        margin: 1.5em auto 0em auto;
        box-shadow: 0.1em 0.1em 0.25em $secondary;

    }
}
