.FAQ {
    margin-left:auto;
    margin-right:auto;
    max-width: 60em;
    padding: 1em;

    a {
        color: $links;
        text-decoration:none;

        &:hover {
            opacity: 60%;
            transition-duration: 0.3s;
          }
    }

    ul, ol {
        list-style-position: outside;
        margin-left:3em;
        margin-bottom:1em;
    }

    td {
        min-width:15em;
    }

    p {
        margin-top:0.5em;
        margin-bottom:0.5em;
    }

    &__underline {
        text-decoration:underline;
    }

    &__title {
        font-family: $title;
        text-transform:uppercase;
        font-size: 2em;
        font-weight: 600;

        &__icon {
            margin-right: 0.2em;
        }
    }
    &__section-header {
        font-family: $title;
        text-transform:uppercase;
        font-size: 1.5em;
        margin-top: 1.5em;
        margin-bottom:.7em;
        color: $secondary;
    }
    &__question {

        display: block;
        border: transparent;
        border-radius: 0.5em;
        box-shadow: 0.1em 0.1em 0.25em $secondary;
        padding: 1em 1.5em;
        margin-bottom: 1em;

        &__summary {
            font-family: $title;
            font-size: 1.25em;
            outline:none;
            cursor: pointer;
        }
        &__answer {
            color: $main;
            font-family: $sans;
            margin-top: 0.5em;
            margin-left:2.5em;
            margin-right:3em;
            line-height:1.5em;

            ol {
                list-style-type: decimal;
                list-style-position: outside;
                margin-left:1em;
                margin-bottom:1em;

                li {
                  font-size: 1rem;
                }
            }
        }

    }

}

// modify background/highlight and letter colors
.Color {
    // modify text color for variety
    // used for color-coding sections on FAQ page
    &--1 {
        color:  $ocean;
    }
    &--2 {
        color: $navy;
    }
    &--3 {
        color: $green;
    }
    &--4 {
        color: $purple;
    }

    &__mark {
        // highlight the mention of a category with the associated color for clarity and aesthetics
        // used where categories are defined on FAQ page

        &--academic {
            background-color: $academic--light;
            padding: 2px 5px 2px 5px;
            border-radius: 3px;
        }
        &--student {
            background-color: $student--light;
            padding: 2px 5px 2px 5px;
            border-radius: 3px;
        }
        &--admission {
            background-color: $admission--light;
            padding: 2px 5px 2px 5px;
            border-radius: 3px;
        }
        &--library {
            background-color: $library--light;
            padding: 2px 5px 2px 5px;
            border-radius: 3px;
        }
        &--shop {
            background-color: $shop--light;
            padding: 2px 5px 2px 5px;
            border-radius: 3px;
        }
        &--clubs {
            background-color: $clubs--light;
            padding: 2px 5px 2px 5px;
            border-radius: 3px;
        }
        &--other {
            background-color: $other--light;
            padding: 2px 5px 2px 5px;
            border-radius: 3px;
        }
    }
}
