.FAQ {
    margin-left:2em;
    margin-right:2.5em;

    a {
        color: $links;
        text-decoration:none;
    }

    ul, ol {
        list-style-position: outside;
        margin-left:3em;
        margin-bottom:1em;
    }

    td {
        min-width:15em;
    }

    p {
        margin-top:0.5em;
        margin-bottom:0.5em;
    }

    &__underline {
        text-decoration:underline;
    }

    &__title {
        font-family: $title;
        text-transform:uppercase;
        font-size: 2em;
        margin-top:2em;

        &__icon {
            margin-right: 0.2em;
        }
    }
    &__section-header {
        font-family: $title;
        text-transform:uppercase;
        font-size: 1.5em;
        margin-top: 1.5em;
        margin-bottom:.7em;
        color: $secondary;
    }
    &__question {
        
        display: block;
        border: transparent;
        border-radius: 0.5em;
        box-shadow: 0.1em 0.1em 0.25em $secondary;
        padding: 1em 1.5em;
        margin-bottom: 1em;
        
        &__summary {
            font-family: $title;
            font-size: 1.25em;
        }
        &__answer {
            color: $main;
            font-family: $sans;
            margin-top: 0.5em;
            margin-left:2.5em;
            margin-right:3em;
            line-height:1.5em;
        }
        
    }

}

.Color {
    &--1 {
        color:  $ocean;
    }
    &--2 {
        color: $navy;
    }
    &--3 {
        color: $green;
    }
    &--4 {
        color: $purple;
    }

    &__mark {

        &--academic {
            background-color: $academic--light;
            padding-top: 2px;
            padding-bottom:2px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px;
        }
        &--student {
            background-color: $student--light;
            padding-top: 2px;
            padding-bottom:2px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px;
        }
        &--admission {
            background-color: $admission--light;
            padding-top: 2px;
            padding-bottom:2px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px;
        }
        &--library {
            background-color: $library--light;
            padding-top: 2px;
            padding-bottom:2px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px;
        }
        &--shop {
            background-color: $shop--light;
            padding-top: 2px;
            padding-bottom:2px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px;
        }
        &--clubs {
            background-color: $clubs--light;
            padding-top: 2px;
            padding-bottom:2px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px;
        }
        &--other {
            background-color: $other--light;
            padding-top: 2px;
            padding-bottom:2px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px;
        }
    }
}