@import 'reset.scss';
@import 'vars';
@import 'add';
@import 'confirmation';
@import 'faq';
@import 'admin';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import 'calendar.scss';

@import url('https://use.typekit.net/gsh7wuf.css');

.Home {
  display: flex;
}

.Header {
    padding: 0.5em 1em;
    display: flex;
    flex: 0 1 0;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.1em 0.1em 0.25em $secondary;

    &__title {
      font-family: $title;
      font-size: 2em;
      color: $links;
      text-transform: uppercase;

      &--confirm {
        color: $shop;
      }
    }

    &__logo {
      width: 12em;
      overflow: auto;
      display: flex;
      flex-direction: row;
      padding: 0.5em 1em 0.5em 0.5em;

      &__side {
        order: 2;
        display: flex;
        flex-direction: column;
        vertical-align: center;
      }

      &__icon {
        order: 1;
        width: 2.5em;
        height: auto;
        margin-right: 1em;
      }

      &__text {
        font-size: 1.5em;
        font-family: $title;
        font-weight: 600;
        text-transform: uppercase;
        display: block;
        line-height: 85%;
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &__event {
        background-color: $links;
        border: none;
        border-radius: 0.35em;
        color: white;
        font-size: 1em;
        font-family: $title;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0.25em 0.5em;
        text-align: center;
        align-items: center;
        display: flex;
        margin-right: 0.5em;
        margin-left: 0.5em;
        transition-duration: 0.25s;
        width: 8em;
        cursor: default;
        text-decoration: none;

        &:hover {
          background-color: white;
          border: 0.1em solid $links;
          color: $links;
        }

        &:active {
          background-color: white;
          border: 0.1em solid $links;
          color: $links;
        }

        &__icon {
          display: inline-block;
          stroke: white;
          margin-right: 0.25em;
        }
      }

      &__link {
        background-color: $secondary--light;
        border: none;
        border-radius: 0.35em;
        color: $main;
        font-size: 1em;
        font-family: $title;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0.25em 0.5em;
        transition-duration: 0.25s;
        margin-right: 0.5em;
        width: 8em;
        text-align: center;
        cursor: default;
        text-decoration: none;

        &__wrapper {
          display: inline-flex;
          align-items: center;
        }

        &__icon {
          display: inline-block;
          stroke: $main;
          margin-right: 0.25em;
        }

        &:hover {
          color: $links;
        }

        &:active {
          color: $links;
        }
      }
    }

    &__timezone {
      text-align: right;

      &__title {
        font-family: $title;
        font-weight: 600;
        font-size: 1em;
        color: $secondary;
        text-transform: uppercase;
      }

      &__time {
        font-family: $title;
        font-weight: 600;
        font-size: 1em;
        color: $main;
        text-transform: uppercase;
      }
    }
}

.Main {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

.Button {
    font-family: $sans;
    border-radius: 99em;
    padding: .5em 1em;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #42d392;
    margin: 0 auto;
}

.Sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    min-width: 20em;
    max-width: 20%;
    width: 20%;
    margin-top: 1.5em;
    padding: 0 1em;

    &__block {
      order: 1;
      display: block;
    }

    &__body {
      font-family: $sans;
      font-size: 1em;
      color: black;

      &__text {
        margin-top: 0.5em;
      }

      a {
        color: $links;
        text-decoration: none;
        transition-duration: 0.3s;

        &:hover {
          opacity: 60%;
        }
      }
    }

    &__form {
      font-family: $title;
      font-style: italic;
      background-color: black;
      color: white;
      border: none;
      border-radius: 0.5em;
      text-align: center;
      display: block;
      font-size: 1.5em;
      width: 100%;
      padding: 0.25em 0;
      text-decoration: none;
    }

    &__header {
        font-size: 1.25em;
        font-family: $title;
        font-weight: 600;
        margin-bottom: 0.5em;

        &__icon {
            width: 0.8em;
            height: auto;
            margin-right: 0.15em;
        }
    }
    &__section {
        font-family: $sans;
        margin: 0em 1em 1em;
        display: block;
    }

    input[type="checkbox"] {
        display: none;
    }

    &__filter {
        font-size: 1em;
        display: flex;
        position: relative;
        padding: .1em 0 .1em 12px;
        margin-bottom: .5em;
        border-top-right-radius: .25em;
        border-bottom-right-radius: .25em;
        background-color: none;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        input[type="checkbox"] + & {
            &[for="filter--academic"] {background-color: rgba($academic, 0); &::before {background-color: $academic}}
            &[for="filter--academic_calendar"] {background-color: rgba($academic, 0); &::before {background-color: $academic}}
            &[for="filter--academic_advising"] {background-color: rgba($academic, 0); &::before {background-color: $academic}}
            &[for="filter--student_affairs"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--international"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--residential"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--health"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--pgp"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--hr"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--student"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--admission"] {background-color: rgba($admission, 0); &::before {background-color: $admission}}
            &[for="filter--library"] {background-color: rgba($library, 0); &::before {background-color: $library}}
            &[for="filter--shop"] {background-color: rgba($shop, 0); &::before {background-color: $shop}}
            &[for="filter--clubs"] {background-color: rgba($clubs, 0); &::before {background-color: $clubs}}
            &[for="filter--other"] {background-color: rgba($other, 0); &::before {background-color: $other}}
        }

        input[type="checkbox"]:checked + & {
            &[for="filter--academic"] {background-color: rgba($academic, .2); &::before {background-color: $academic}}
            &[for="filter--academic_calendar"] {background-color: rgba($academic, .2); &::before {background-color: $academic}}
            &[for="filter--academic_advising"] {background-color: rgba($academic, .2); &::before {background-color: $academic}}
            &[for="filter--international"] {background-color: rgba($student, .2); &::before {background-color: $student}}
            &[for="filter--student"] {background-color: rgba($student, .2); &::before {background-color: $student}}
            &[for="filter--residential"] {background-color: rgba($student, .2); &::before {background-color: $student}}
            &[for="filter--health"] {background-color: rgba($student, .2); &::before {background-color: $student}}
            &[for="filter--pgp"] {background-color: rgba($student, .2); &::before {background-color: $student}}
            &[for="filter--hr"] {background-color: rgba($student, .2); &::before {background-color: $student}}
            &[for="filter--admission"] {background-color: rgba($admission, .2); &::before {background-color: $admission}}
            &[for="filter--library"] {background-color: rgba($library, .2); &::before {background-color: $library}}
            &[for="filter--shop"] {background-color: rgba($shop, .2); &::before {background-color: $shop}}
            &[for="filter--clubs"] {background-color: rgba($clubs, .2); &::before {background-color: $clubs}}
            &[for="filter--other"] {background-color: rgba($other, .2); &::before {background-color: $other}}
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 100%;
            background-color: inherit;
        }

        &__icon {
          padding-right: 0.5em;
          display:inline-flex;

          &+label {
            position: absolute;
            top:0.1em;
            right:0.2em;
          }

          &:checked {
            &+label svg {
              transform:rotate(90deg);
            }

            &+label+ul {
              display:block;
            }
          }
        }

        &__list {
          list-style: none;
          margin-left:1em;

          &__group {
            display:None;
          }

          li {
            position:relative;
          }
        }

    }
}

.Event {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 9;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    font-size: 1em;
    font-family: $sans;
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
    color: black;
    display: inherit;
    vertical-align: middle;
    text-decoration: none;
    background-color: #E8E8E8;

    &__icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5em;
      height: 20px;
    }
  }

  &__content {
    padding: 1em 0em 1em 0em;

    &__title {
      font-family: $title;
      font-size: 3em;
      text-transform: uppercase;
      font-style: italic;
    }

    &__block {
      display: block;
      margin: 0.75em 0em;
    }

    &__tag {
      font-size: 1em;
      font-family: $sans;
      color: black;
      text-transform: capitalize;
      text-decoration: none;
      border-radius: 0.5em;
      padding: 0.5em 0.5em;
      display: inline-block;

      &[data-tag="academic_affairs"] {background-color: $academic;}
      &[data-tag="academic_advising"] {background-color: $academic;}
      &[data-tag="academic_calendar"] {background-color: $academic;}
      &[data-tag="international"] {background-color: $student;}
      &[data-tag="residential"] {background-color: $student;}
      &[data-tag="health"] {background-color: $student;}
      &[data-tag="pgp"] {background-color: $student;}
      &[data-tag="hr"] {background-color: $student;}
      &[data-tag="student_affairs"] {background-color: $student;}
      &[data-tag="admission"] {background-color: $admission;}
      &[data-tag="library"] {background-color: $library;}
      &[data-tag="shop"] {background-color: $shop;}
      &[data-tag="clubs"] {background-color: $clubs;}
      &[data-tag="other"] {background-color: $other;}
    }

    &__table {
      width: 100%;

      &__row {
        height: 1.75em;
      }
    }

    &__headers {
      font-family: $sans;
      font-size: 1em;
      color: black;
      font-weight: bold;
      width: 6em;
      vertical-align: top;
    }

    &__text {
      font-family: $sans;
      font-size: 1em;
      color: black;
      vertical-align: top;

      &__link {
        padding-left: 0.5em;
        color: $links;
        text-decoration: none;
      }
    }

    &__date {
      color: black;
      font-family: $sans;
      font-size: 1em;
      padding-right: 0.5em;
    }

    &__time {
      color: black;
      font-family: $sans;
      font-size: 1em;
      padding-right: 0.5em;
      padding-left: 0.5em;
    }
  }
}

.Calendar {
    margin: 1.5em 1em 0em 0em;
    display: block;
}

.Footer {
    font-size: 1em;
    font-family: $title;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 1.5em 1em 1em 1em;
    flex: 0 1 0;

    &__message {
        display: block;
    }
    &__links {
        font-family: $sans;
        text-transform: none;
        font-weight: 400;
        margin-top: 0.2em;
        display: block;
        font-size: .875em;

        a {
            color: $links;
            text-decoration: none;
            transition-duration: 0.3s;

            &:hover {
              opacity: 60%;
            }
        }
    }
}
