$title: 'Pathway Gothic One', sans-serif;
$sans: 'Lato', sans-serif;

$links:  #0087C6;
$admissions: #1FC9B3;
$clubs: #0087C6;
$student-life: #95CC3F;
$foundry-bow: #DD2E44;
$health-wellness: #F37820;
$library: #722780;
$shop: #FFC700;
$pgp: #666666;
