@import 'reset.scss';
@import 'vars';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import 'calendar.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pathway+Gothic+One&display=swap');

.Header {
    padding: 1em;

    &__title {

        &__icon {
            width: 4em;
            height: auto;
            margin-right: 1em;
        }
        &__text {
            font-size: 4em;
            font-family: $title;
            font-style: italic;
            text-transform: uppercase;
        }
    }
}

.Main {
    display: flex;
}

.Button {
    font-family: $sans;
    border-radius: 99em;
    padding: .5em 1em;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #42d392;
    margin: 0 auto;
}

.Sidebar {
    min-width: 20%;
    margin-right: 1em;
    margin-top: 1em;
    padding: 0 1em;
    border-right: 4px solid black;

    &__body {
      font-family: $sans;
      font-size: 1em;
      color: black;

      &__text {
        margin-top: 0.5em;
      }

      a {
        color: $links;
        text-decoration: none;
      }
    }

    &__form {
      font-family: $title;
      font-style: italic;
      background-color: black;
      color: white;
      border: none;
      border-radius: 0.5em;
      text-align: center;
      font-size: 1.5em;
      width: 100%;
      padding: 0.25em 0;
    }

    &__header {
        font-size: 1.5em;
        font-family: $title;
        font-style: italic;
        margin-top: 1em;
        margin-bottom: 0.5em;

        &__icon {
            width: 0.8em;
            height: auto;
            margin-right: 0.15em;
        }
    }
    &__section {
        font-family: $sans;
        margin: 0em 1em 1em;
    }

    input[type="checkbox"] {
        display: none;
    }

    &__filter {
        font-size: 1em;
        display: flex;
        position: relative;
        padding: .1em 0 .1em 12px;
        margin-bottom: .5em;
        border-top-right-radius: .25em;
        border-bottom-right-radius: .25em;
        background-color: none;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        input[type="checkbox"] + & {
            &[for="filter--academic"] {background-color: rgba($academic, 0); &::before {background-color: $academic}}
            &[for="filter--academic_calendar"] {background-color: rgba($academic, 0); &::before {background-color: $academic}}
            &[for="filter--academic_advising"] {background-color: rgba($academic, 0); &::before {background-color: $academic}}
            &[for="filter--international"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--residential"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--health"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--pgp"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--hr"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--student"] {background-color: rgba($student, 0); &::before {background-color: $student}}
            &[for="filter--admission"] {background-color: rgba($admission, 0); &::before {background-color: $admission}}
            &[for="filter--library"] {background-color: rgba($library, 0); &::before {background-color: $library}}
            &[for="filter--shop"] {background-color: rgba($shop, 0); &::before {background-color: $shop}}
            &[for="filter--clubs"] {background-color: rgba($clubs, 0); &::before {background-color: $clubs}}
            &[for="filter--other"] {background-color: rgba($other, 0); &::before {background-color: $other}}
        }

        input[type="checkbox"]:checked + & {
            &[for="filter--academic"] {background-color: rgba($academic, .2); &::before {background-color: $academic}}
            &[for="filter--academic_calendar"] {background-color: rgba($academic, .2); &::before {background-color: $academic}}
            &[for="filter--academic_advising"] {background-color: rgba($academic, .2); &::before {background-color: $academic}}
            &[for="filter--international"] {background-color: rgba($student, .2); &::before {background-color: $student}}
            &[for="filter--student"] {background-color: rgba($student, .2); &::before {background-color: $student}}
            &[for="filter--residential"] {background-color: rgba($student, .2); &::before {background-color: $student}}
            &[for="filter--health"] {background-color: rgba($student, .2); &::before {background-color: $student}}
            &[for="filter--pgp"] {background-color: rgba($student, .2); &::before {background-color: $student}}
            &[for="filter--hr"] {background-color: rgba($student, .2); &::before {background-color: $student}}
            &[for="filter--admission"] {background-color: rgba($admission, .2); &::before {background-color: $admission}}
            &[for="filter--library"] {background-color: rgba($library, .2); &::before {background-color: $library}}
            &[for="filter--shop"] {background-color: rgba($shop, .2); &::before {background-color: $shop}}
            &[for="filter--clubs"] {background-color: rgba($clubs, .2); &::before {background-color: $clubs}}
            &[for="filter--other"] {background-color: rgba($other, .2); &::before {background-color: $other}}
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 100%;
            background-color: inherit;
        }

        &__icon {
          padding-right: 0.5em;
          display:inline-flex;

          &+label {
            position: absolute;
            top:0.1em;
            right:0.2em;
          }

          &:checked {
            &+label svg {
              transform:rotate(90deg);
            }

            &+label+ul {
              display:block;
            }
          }
        }

        &__list {
          list-style: none;
          margin-left:1em;

          &__group {
            display:None;
          }

          li {
            position:relative;
          }
        }

    }
}

.Calendar {
    margin-top: 1em;
    max-height: 90vh;
    overflow: hidden;
}

.Footer {
    font-size: 1.25em;
    font-family: $sans;
    text-align: center;
    padding: 1em;

    &__message {
        display: block;
    }
    &__links {
        margin-top: .5em;
        display: block;
        font-size: .6em;

        a {
            color: $links;
        }
    }
}
