/* Style of the page */
* {
box-sizing: border-box;
}

/* Basic style of text */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white
}

h1 {
  color: black;
  text-align: left;
  font-family: sans-serif;
  font-size: 18px;
}

p {
  font-family: sans-serif;
  font-size: 12px;
  text-align: left;
  color: black;
}

.p2 {
  font-family: sans-serif;
  font-size: 14px;

}

/* This dictactes the filter buttons and their colors and styles. */
.buttonA {
  background-color: #1FB9B3;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 10px 32px;
  text-align: left;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.buttonA:hover {
  background-color: #1FB9B3;
  opacity: 0.5;
}

.btn-group .button1 {
  background-color: #1FB9B3; /* Teal */
  border: 5px solid white;
  border-radius: 12px;
  color: black;
  padding: 8px 20px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width: 200px;
  display: block;
  transition: 0.3s;
  opacity: 0.25;
}

.active, .button1:hover {
  background-color: #1FB9B3;
  opacity: 1;
}

.button1:focus {
  background-color: #1FB9B3;
  opacity: 1;
}


.btn-group .button2 {
  background-color: #0087C6; /* Blue */
  border: 5px solid white;
  border-radius: 12px;
  color: black;
  padding: 8px 20px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width: 200px;
  display: block;
  transition: 0.3s;
  opacity: 0.25;
}

.active, .button2:hover {
  background-color: #0087C6;
  opacity: 1;
}

.btn-group .button3 {
  background-color: #95CC3F; /* Green */
  border: 5px solid white;
  border-radius: 12px;
  color: black;
  padding: 8px 20px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width: 200px;
  display: block;
  transition: 0.3s;
  opacity: 0.25;
}
.active, .button3:hover {
  background-color: #95CC3F;
  opacity: 1;
}

.btn-group .button4 {
  background-color: #DD2E44; /* Red */
  border: 5px solid white;
  border-radius: 12px;
  color: black;
  padding: 8px 20px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width: 200px;
  display: block;
  transition: 0.3s;
  opacity: 0.25;
}

.active, .button4:hover {
  background-color: #DD2E44;
  opacity: 1;
}

.btn-group .button5 {
  background-color: #F37820; /* Orange */
  border: 5px solid white;
  border-radius: 12px;
  color: black;
  padding: 8px 20px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width: 200px;
  display: block;
  transition: 0.3s;
  opacity: 0.25;
}

.active, .button5:hover {
  background-color: #F37820;
  opacity: 1;
}

.btn-group .button6 {
  background-color: #722780; /* Purple */
  border: 5px solid white;
  border-radius: 12px;
  color: black;
  padding: 8px 20px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width: 200px;
  display: block;
  transition: 0.3s;
  opacity: 0.25;
}

.active, .button6:hover {
  background-color: #722780;
  opacity: 1;
}

.btn-group .button7 {
  background-color: #FFC700; /* Yellow */
  border: 5px solid white;
  border-radius: 12px;
  color: black;
  padding: 8px 20px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width: 200px;
  display: block;
  transition: 0.3s;
  opacity: 0.25;
}

.active, .button7:hover {
  background-color: #FFc700;
  opacity: 1;
}

.btn-group .button8 {
  background-color: #9B9B9B; /* Gray */
  border: 5px solid white;
  border-radius: 12px;
  color: black;
  padding: 8px 20px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width: 200px;
  display: block;
  transition: 0.3s;
  opacity: 0.25;
}

.active, .button8:hover {
  background-color: #9B9B9B;
  opacity: 1;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* This dictates the link style according to an action. */
table, th, td {
  border: 5px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}

a:link {
  color: #1FB9B3;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #722780;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #F37820;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: #95CC3F;
  background-color: transparent;
  text-decoration: none;
}

/* This dictates the section of the side bar. */
article {
  float: left;
  padding: 20px;
  width: 30%;
  background-color: white;
  height: 80%; /* only for demonstration, should be removed */
}

.article1 {
  float: center;
  padding: 20px;
  width: 40%;
  background-color: white;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
