{% extends 'base.html' %}
{% block page %}
    <div class="Mainflex">
    {% include 'components/header.html' %}
    <main>
        <div class="Page404">
            <div class="Page404__container">
                <div class="Page404__item">
                    <p class="Page404__number">404</p>
                    <p class="Page404__oh-no"> Ohhh nooo...</p>
                </div>
                <div class="Page404__item">
                    <img src="/static/images/franks_cal_logo.png" alt="Frank's Calendar Logo" height="100%"/>
                </div>
            </div>
            <div class="Page404__container">
                <div class="Page404__double-item">
                    <p class="Page404__somethings-wrong">Something's wrong.</p>
                    <p class="Page404__message">We’re working on fixing the problem. Check back to Frank’s Calendar later!</p>
                </div>
            </div>
        </div>
    </main>
    {% include 'components/footer.html' %}
    </div>
{% endblock %}
