<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Pathway+Gothic+One&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='info-pages.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="fixedheader">
    <h1>
        <img src="{{ url_for('static', filename='images/franks_cal_logo.png') }}" alt="Frank's Calendar Logo" height="30px"
        margin-right="1em"/>
        <span id="frankscal">Frank's Calendar </span>
		<span  class="addspace"></span> - <span  class="addspace"></span>
		<span id="post">About</span>
    </h1>
</div>

<div id="main">

<h2 id="about">About this Project</h2>


<h3>Why was this calendar built, and what's its main purpose?</h3>


<p>
We receive A LOT of emails at Olin, especially when it comes to events being shared with the whole community. Whether the email is packed full of event details or a simple, “HAPPENING NOW!” notification, it is hard to keep track of all of this information. Frank’s Calendar takes all of the community-wide events on campus and puts them in one place. The platform easily allows any member of the Olin Community to see what events are coming up, share events they are hosting, and export events they are interested in to their calendar.
</p>
<p>
It is not to replace email as a way to share events, but it is to create a space where shared events can all go for ease of access and searchability. We all know the struggle of events getting buried in our emails because we get too many emails a day!
</p>
</body>
</html>
