{% extends 'base.html' %}
{% block page %}
    <div class="Mainflex">
    {% include 'components/header.html' %}
    <main>
        <a href="/">← Back to Calendar</a>

        <h2>About this Project</h2>

        <h3>How was Frank's Calendar founded?</h3>
        <p>Frank’s Calendar was founded through the last three sprints of Products & Markets in Spring 2020. The original team consisted of Ruby Eisenbud, Jules Brettle, Jack Greenberg, and Karen Hinh, who took the project from initial ideation and market research to full product development.</p>
        <p>Over the summer, the project expanded to include Kyle Combes as a mentor, and added Kelly Yen as a back-end developer. The MVP was built and launched in time for Fall 2020.</p>

        <h3>Why was this calendar built?</h3>
        <p>We receive <b>a lot</b> of emails at Olin, especially when it comes to events being shared with the whole community. Whether the email is packed full of event details or a simple, “HAPPENING NOW!” notification, it is hard to keep track of all of this information.</p>
        <p>Past attempts at building a community calendar for Olin have failed because they weren’t ubiquitous enough. The process to make icals or add events was also too much work on those platforms.</p>
        <p>That’s why Frank’s Calendar was built: it takes all of the community-wide events on campus and puts them in one place. Its’ main design focus is <b>ease-of-use</b> for both event browsers and hosters. </p>

        <h3>What's its main purpose?</h3>
        <p>The platform easily allows any member of the Olin Community to:</p>
        <ul>
            <li>See what events are coming up</li>
            <li>Share events they are hosting</li>
            <li>Export events they are interested in to their calendar</li>
        </ul>
        <p>The calendar was designed for people looking for events to attend in the upcoming day or week. It is also for event organizers to see what events have already been scheduled, and find a conflict-free time for their own event.</p>
    </main>
    {% include 'components/footer.html' %}
    </div>
{% endblock %}
