{% extends 'base.html' %}
{% block page %}
    {% include 'components/header.html' %}
    <main>
      <div class="Page">
        <h1 class="Form__title">Submit a New Event</h1>

        <form class="Form" action="" method="POST" autocomplete="off">
            {{ form.csrf_token }}

          <div class="Form__box">

            <div class="Form__field">
              {{ form.title.label }}
              {{ form.title(placeholder="e.g. 'Hang out with Frank the Phoenix!'") }}
            </div>

            <div class="Form__row">
              <h2>Duration</h2>
              <div class="Form__row__buttons">
                <input type="radio" id="button__duration--hour" name="duration" value="hour" checked="checked">
                <label for="button__duration--hour">
                  &lt; 1 day</label>
                <input type="radio" id="button__duration--day" name="duration" value="day">
                <label for="button__duration--day">
                  All day</label>
                <input type="radio" id="button__duration--many" name="duration" value="many">
                <label for="button__duration--many">
                  Many days</label>
              </div>
            </div>

            <div id="duration--hour" class="Form__field Form__field--flex  js-showFieldSet">
              <div class="Form__field">
                <label>Date</label>
                <input type="text" id="hour__date" placeholder="mm/dd/yy" />
              </div>
              <div class="Form__field">
                <label>Start Time</label>
                <input type="text" id="hour__start" placeholder="hh:mm" />
              </div>
              <div class="Form__field">
                <label>End Time</label>
                <input type="text" id="hour__end" placeholder="hh:mm" />
              </div>
            </div>

            <div id="duration--day" class="Form__field Form__field--flex">
              <div class="Form__field">
                <label>Date</label>
                <input type="text" id="day__date" placeholder="mm/dd/yy" />
              </div>
            </div>

            <div id="duration--many" class="Form__field Form__field--flex">
              <div class="Form__field">
                <label>Start Date</label>
                <input type="text" id="many__startDate" placeholder="mm/dd/yy" />
              </div>
              <div class="Form__field">
                <label>End Date</label>
                <input type="text" id="many__endDate" placeholder="mm/dd/yy" />
              </div>
            </div>

            <div style="display: none" tabindex="-1">
                <!-- Don't edit this! Things won't work lol 😂 -->
                {{ form.dtstart(placeholder="mm/dd/yy") }}
                {{ form.dtend(placeholder="mm/dd/yy") }}
            </div>

            <div class="Form__field">
              {{ form.location.label }}
              {{ form.location(placeholder="e.g. 'Dining Hall' or 'https://olin.zoom.us/j/123456789'") }}
            </div>

            <div class="Form__field">
              {{ form.category.label }}
              <div class="Form__category">
                {{ form.category }}
              </div>
            </div>

            <div class="Form__field">
              {{ form.description.label }}
              {{ form.description(placeholder="Who might be interested? What would they be doing? Is there anything they need to have done before hand?

If you sent out an email about this event, the text from that email is probably a good thing to include here!") }}
            </div>

            <div class="Form__field">
                <label>Host Name</label>
                {{ form.host.name_(placeholder="e.g. 'Frankie Olin' or 'The Phoenix Club'") }}
                <label>Point of Contact Email</label>
                {{ form.host.email(placeholder="e.g. 'frankie@olin.edu' or 'phoenixclub@olin.edu'") }}
            </div>

          </div>
          <input class="Form__submit" id="submitButton" type="submit" name="Submit" value="Submit Event" />
        </form>
      </div>
    {% include 'components/footer.html' %}
    <script>
        document.querySelectorAll('[name="duration"]')
            .forEach(el => {
                // On click, the proper form fields should be shown
                el.addEventListener('click', e => {
                    // Remove from the ones currently have it
                    console.log("Removing from " + document.querySelector('.js-showFieldSet').outerHTML)
                    document.querySelectorAll('.js-showFieldSet')[0]
                        .classList.remove('js-showFieldSet');

                    // And add it to the proper one
                    var nextElement = document.getElementById("duration--" + e.target.value);
                    nextElement.classList.add('js-showFieldSet');
                    console.log(nextElement.outerHTML)
                })
            })
        document.getElementById('submitButton')
            .addEventListener('click', e => {
                e.preventDefault();
            })
    </script>
{% endblock %}
