<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Pathway+Gothic+One&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='event-form-styles.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

<div class="fixedheader">
    <h1>
        <span id="frankscal"> <img src="franks_cal_logo.png" alt="Frank's Calendar Logo" height="30px"
        margin-right="1em"/> Frank's Calendar </span>
		<span  class="addspace"></span> - <span  class="addspace"></span>
		<span id="post"> Publish an Event </span>
    </h1>
</div>

<div id="main">

<a href="/">← Back to Calendar</a>
<br><br>
Any Olin Community member can raise awareness about an Olin event by publishing to Frank's Calendar for the rest of the Olin Community to see! Fill out <a href="#eventform">the form</a> to manually submit your event.<br>
	<ul>
    	<li> Already have the event you want to share on your calendar? Skip the form by "inviting" <span class="underlined">frankscalendar.olin@gmail.com</span> to the event! Learn how to do this <a href="info.html#publishing-events">here</a>.</li>
    	<li> Don't know if your event should go on the calendar? See the event guidelines <a href="info.html#event-guidelines">here</a>.</li>
    	<li> Want more info about the Frank's Calendar project? See the info page <a href="info.html">here</a>.</li>
	</ul>
<br>

<form id="eventform">

    <fieldset>
        <legend><h2><span  class="addspace"></span> New Event Details: <span  class="addspace"></span></h2> </legend>

        <div class="row">
            <div class="column left">
                <label for="title" class="light" >Title:</label>

            </div>
            <div class="column right">
                <input type="text" id="title" name="title" autocomplete="off" placeholder='e.g. "Hang out with Frank the Phoenix!"' required> <br>
            </div>
        </div>
        <div class="row">
            <div class="column left">
                <label for="location" class="light">Location:</label>
            </div>
            <div class="column right">
                <input type="text" id="location" name="location" placeholder='e.g. "Dining Hall" or "https://olin.zoom.us/j/123456789"' required> <br>
            </div>
        </div>
        <div class="row">
            <div class="column left">
                <label class="light">Date/Time (Eastern):</label>
            </div>
            <div class="column right">
                <input type="datetime-local" id="dtstart" name="dtstart" placeholder="mm/dd/yyyy   --:--" required> to
                <input type="datetime-local" id="dtend" name="dtend" placeholder="mm/dd/yyyy   --:--" required> <br>
                <br>
                <input type="checkbox" id="isallday" name="isallday">
                <label for="isallday">Mark as "All Day" <small>(ignores start and end times)</small></label> <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="column left">
                <label for="category" class="light">Category:</label> <br>
                <p><small><a>Which do I chose? <br>(Click to see more info.)</a></small></p>
            </div>
            <div class="column right">
                <select id="category" required>
                    <option class="select-one" selected disabled>- select one -</option>
                    <option class="academic-affairs">Academic Calendar</option>
                    <option class="academic-affairs">Academic Advising</option>
                    <option class="student-affairs">Residential</option>
                    <option class="student-affairs">Health and Wellness</option>
                    <option class="student-affairs">PGP</option>
                    <option class="student-affairs">HR</option>
                    <option class="student-affairs">Diversity and Inclusion</option>
                    <option class="student-affairs">Intl' and Study Away</option>
                    <option class="admission-financial-aid">Admission and Financial Aid</option>
                    <option class="library">The Library</option>
                    <option class="shop">The Shop</option>
                    <option class="clubs-organizations">Clubs and Organizations</option>
                    <option class="other-events">Other Events</option>
                </select>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="column left">
                <label for="description" class="light">Description:</label>
            </div>
            <div class="column right">
                <textarea id="description" name="description" autocomplete="off" rows="10" placeholder=" Who might be interested? What would they be doing? Is there anything they need to have done beforehand? &#13;&#10; &#13;&#10; If you send out an email about this event, the text from that email is probably a good thing to include here!" required></textarea><br>
            </div>
        </div>
        <div class="row">
            <div class="column left">
                <label class="light">Host:</label> <br>
                <p> <small>
                Hosts will be notified via email that they are hosting this event. They will recieve an editing link to correct any event information.
                </small></p>
            </div>
            <div class="column right">
                <label for="hostname">Host's name:</label> <br>
                <input type="text" id="hostname" name="hostname" autocomplete="on" placeholder='e.g. "Frank the Phoenix and The Phoenix Fan Club"' required> <br> <br>
                <label for="hostemail">Host's email address:</label> <br>
                <input type="email" id="hostemail" name="hostemail" autocomplete="on" placeholder='e.g. "fphoenix@olin.edu, phoenixclub@olin.edu"' required> <br> <br>

                <input type="checkbox" id="showhost" name="showhost" checked>
                <label for="showhost">Show this host information on the Event Details page.</label>
            </div>
        </div>

    </fieldset>

    <div class="non-fieldset"> <!-- padding to allign with <fieldset> -->
        <div class="row">
            <div class="column left">
                <label class="light">Submitter Information:</label> <br>
                <p> <small>
                We need your Olin email to confirm that you are an Olin community member and to send you a magic link that will give you editing privledges after you have submitted this event.
                </small> </p>
            </div>
            <div class="column right">
                <label for="submittername">Your name:</label> <br>
                <input type="text" id="submittername" name="submittername" autocomplete="on" placeholder='e.g. "Frank the Phoenix"'required>
                <br><br>
                <label for="submitteremail">Your @olin.edu email address:</label> <br>
                <input type="email" id="submitteremail" name="submitteremail" autocomplete="on" placeholder='e.g. "fphoenix@olin.edu"' required> <br>
                <br>
                <input type="checkbox" id="showmyname" name="showmyname" checked>
                <label for="showmyname">Frank's Calendar can show my name as the submitter of this event on the Event Details page.</label>
            </div>
        </div>
        <div class="row">
            <div class="column left"> <!-- empty for submitbutton positioning-->
            </div>
            <div class="column right">
                <input type="submit" value="Submit Event" id="submitbutton">
            </div>
        </div>
    </div>
</form>

</div> <!-- end of #main -->

<script>
/* for setting the #category selector/dropdown to the filter color  */
function updateColor(elmt) {
	var catEl = document.getElementById("category");
	var catSelect = catEl.options[catEl.selectedIndex];
	var selectedClass = catSelect.className;
	catEl.setAttribute("class", selectedClass);
}
updateColor();
document.addEventListener("click", updateColor);
</script>
</body>
</html>
