{% extends 'base.html' %}
{% block page %}
    <div class="Mainflex">
    {% include 'components/header--confirmation.html' %}
    <main>
      <div class="Confirmation">
          <div class="Submission__box">
          <section class="Submission__content">
              <h2 class="Submission__content__title">
                {{ event["title"] }}
              </h2>

                {% set c = event["category"].split(":") %}
                <div class="Submission__content__block">
                  <span data-tag="{{ c[-1] }}" class="Submission__content__tag">
                    {{ category_display }}
                  </span>
                </div>

              <table class="Submission__content__table">
                <tr class="Submission__content__table__row">
                  <td class="Submission__content__headers">
                    Hosted by
                  </td>
                  <td class="Submission__content__text">
                    <span class="Submission__content__date">
                      {{ event["host_name"] }}
                    </span>
                    |
                    <a class="Submission__content__text__link" href="mailto:{{ event["host_email"] }}">
                        {{ event["host_email"] }}
                    </a>
                  </td>
                </tr>

                <tr class="Submission__content__table__row">
                  <td class="Submission__content__headers">
                    When?
                  </td>
                  <td class="Submission__content__text">
                    {{ time_display }} (Eastern)
                  </td>
                </tr>

                <tr class="Submission__content__table__row">
                  <td class="Submission__content__headers">
                    Where?
                  </td>
                  <td class="Submission__content__text">
                      {{ event["location"] }}
                  </td>
                </tr>

                <tr class="Submission__content__table__row">
                  <td class="Submission__content__headers">
                    What?
                  </td>
                  <td class="Submission__content__text">
                      {{ event["description"] }}

                  </td>
                </tr>
              </table>
            </section>
          </div>
          </div>
          <div class="Confirmation__message">
              <h2>&#127881; Your event was successfully updated!</h2>
              <p>You can now view your new changes reflected on the main calendar.</p>
              <p>If you wish to make additional changes to your event submission, you can do so here: <a class="Confirmation__message__link" href="/edit/{{ event["_id"] }}?magic={{ event["magic"] }}">link to edit this event</a>.</p>
    </main>
    {% include 'components/footer.html' %}
    </div>
{% endblock %}
