{% extends 'base.html' %}
{% block page %}
    {% include 'components/header.html' %}
    <main>
        <div class="Confirmation">
            <div class="Submission__box">
            <section class="Submission__content">
                <h2 class="Submission__content__title">
                  {{ title }}
                </h2>

                <div class="Submission__content__block">
                  <span data-tag="{{ category }}" class="Submission__content__tag">
                    {{ category | replace("_", " ") | capitalize }}
                  </span>
                </div>

                <table class="Submission__content__table">
                  <tr class="Submission__content__table__row">
                    <td class="Submission__content__headers">
                      Hosted by
                    </td>
                    <td class="Submission__content__text">
                      <span class="Submission__content__date">
                        {{ host_name }}
                      </span>
                      |
                      <a class="Submission__content__text__link" href="mailto:{{ host_email }}">
                          {{ host_email }}
                      </a>
                    </td>
                  </tr>

                  <tr class="Submission__content__table__row">
                    <td class="Submission__content__headers">
                      When?
                    </td>
                    <td class="Submission__content__text">
                      {{ duration }}
                    </td>
                  </tr>

                  <tr class="Submission__content__table__row">
                    <td class="Submission__content__headers">
                      Where?
                    </td>
                    <td class="Submission__content__text">
                        {{ location }}
                    </td>
                  </tr>

                  <tr class="Submission__content__table__row">
                    <td class="Submission__content__headers">
                      What?
                    </td>
                    <td class="Submission__content__text">
                        {{ description }}

                    </td>
                  </tr>
                </table>
              </section>
            </div>
            </div>
            <div class="Confirmation__message">
                <h2>Thanks for submitting an event!</h2>
                <p>A moderator will be looking at the submission and approving, requesting changes, or disapproving your event based on our <a class="Confirmation__message__link" href="/guidelines">event guidelines</a> within 24 hours. You will receive an email at <a href="mailto:{{ host_email }}" class="Confirmation__message__link">{{ host_email }}</a> notifying you of the event status. </p>

                <p>If you wish to make changes to your event submission, use this magic link to make changes: <a class="Confirmation__message__link" href="{{ magic_link }}">link to edit this event</a>. This link will also be emailed to you and will be valid until the start of the event.</p>
            </div>
    </main>
{% include 'components/footer.html' %}
{% endblock %}
