{% extends 'base.html' %}
{% block page %}
    {% include 'components/header.html' %}
    <main>

        <div class="Confirmation">
            <h1 class="Confirmation__title">Event Submitted for Approval!</h1>
            
            <div class="Submission">
            <div class="Submission__box">
            <section class="Submission__content">
                <h2 class="Submission__content__title">
                  SLAC: Zero Waste Living
                </h2>

                <div class="Submission__content__block">
                  <span data-tag={tag} class="Submission__content__tag">
                    {tag}
                  </span>
                </div>

                <table class="Submission__content__table">
                  <tr class="Submission__content__table__row">
                    <td class="Submission__content__headers">
                      Hosted by
                    </td>
                    <td class="Submission__content__text">
                      <span class="Submission__content__date">
                        Karen and the Eco-Reps
                      </span>
                      |
                      <a class="Submission__content__text__link" href="mailto:Eco-Reps@olin.edu">
                      Eco-Reps@olin.edu
                      </a>
                    </td>
                  </tr>

                  <tr class="Submission__content__table__row">
                    <td class="Submission__content__headers">
                      When?
                    </td>
                    <td class="Submission__content__text">
                      <span class="Submission__content__date">
                        Wednesday April 21, 2020
                      </span>
                      |
                      <span class="Submission__content__time">
                        9:00 PM
                      </span>
                      -
                      <span class="Submission__content__time">
                        10:00 PM
                      </span>
                    </td>
                  </tr>

                  <tr class="Submission__content__table__row">
                    <td class="Submission__content__headers">
                      Where?
                    </td>
                    <td class="Submission__content__text">
                        olin.zoom.us/j/9681166966
                    </td>
                  </tr>

                  <tr class="Submission__content__table__row">
                    <td class="Submission__content__headers">
                      What?
                    </td>
                    <td class="Submission__content__text">
                        Come learn about concepts of zero waste living and what a circular economy looks like! Short summary of subtopics below:

                        <li> The impact of waste on our ecosystems </li>
                        <li> Tips and tricks to eliminate single-use products from your daily life </li>
                        <li> How voting with your $$ makes tangible change </li>

                    </td>
                  </tr>
                </table>
              </section>
            </div>
            </div>
            <div class="Confirmation__message">
                <p>Thanks for submitting an event to Frank’s Calendar!</p>
                <p> A moderator will be looking at the submission and approving, requesting changes, or disapproving your event based on our <a class="Confirmation__message__link">event guidelines</a> within 24 hours. You will receive an email at <a  class="Confirmation__message__link">Eco-Reps@olin.edu</a> notifying you of the event status. </p>
                <p> If you wish to edit your event submission, use this magic link to make changes: <a  class="Confirmation__message__link">frankscalendar.build/djsk14495</a>. The link will be emailed to you, and will be valid until the start of the event.</p>
            </div>
        </div>
    </main>
{% include 'components/footer.html' %}
{% endblock %}
