{% extends 'base.html' %}
{% block page %}
    <div class="Mainflex">
    {% include 'components/header--edit.html' %}
    <main>
      <div class="Page">
        <form class="Form" action="" method="POST" autocomplete="off" id="eventForm">
            {{ form.csrf_token }}

            <div class="Form__box">

              <div class="Form__field">
                {{ form.title.label }}
                {{ form.title(placeholder="'Hang out with Frank the Phoenix!'") }}
              </div>

              <div class="Form__row">
                <div class="Form__row__time">
                  <div class="Form__row__time__labels">
                    <label>Date & Time</label>
                    <span>Note: You are submitting this in your time zone!<span>
                  </div>
                  <div class="Form__row__time__fields">
                    <input type="date" id="start_date" required/>
                    <input type="time" id="start_time" style="width:7rem" required/>
                    <p>to</p>
                    <input type="time" id="end_time" style="width:7rem" required/>
                    <input type="date" id="end_date" style="margin-right:0em" required/>
                  </div>
                </div>
                <div class="Form__row__day">
                  <label>
                    <input type="checkbox" id="all_day">
                    <span class="checkmark"></span>
                    All Day
                  </label>
                </div>
                <div style="display: none">
                  {{ form.dtstart }}
                  {{ form.dtend }}
                </div>
              </div>

              <div class="Form__field">
                {{ form.location.label }}
                {{ form.location(placeholder="'Dining Hall' or 'olin.zoom.us/j/123456789'") }}
              </div>

              <div class="Form__field">
                <label>Category
                  <svg class="Form__tooltip" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                  </svg>
                  <span class="Form__tooltip__text">Choose the one that best describes the type of your event or who’s hosting it. If still unsure, refer to the FAQ.</span>
                </label>
                <div class="Form__category">
                  {{ form.category(placeholder="Choose a category") }}
                </div>
              </div>

              <div class="Form__field">
                {{ form.description.label }}
                {{ form.description(placeholder="Who might be interested? What would they be doing? Is there anything they need to have done before hand?

*If you have a zoom invite, feel free to add it here.") }}
              </div>

              <div class="Form__field">
                  <label>Host Name
                    <svg class="Form__tooltip" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <circle cx="12" cy="12" r="10"></circle>
                      <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                      <line x1="12" y1="17" x2="12.01" y2="17"></line>
                    </svg>
                    <span class="Form__tooltip__text">A host can be either an individual or a group on campus. This will be displayed on the event page.</span>
                  </label>
                  {{ form.host_name(placeholder="'Frankie Olin' or 'The Phoenix Club'") }}
                  <label>Point of Contact Email
                    <svg class="Form__tooltip" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <circle cx="12" cy="12" r="10"></circle>
                      <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                      <line x1="12" y1="17" x2="12.01" y2="17"></line>
                    </svg>
                    <span class="Form__tooltip__text">This email will receive updates from the moderator team. It will also be displayed for people to reach out with questions.</span>
                  </label>
                  {{ form.host_email(placeholder="'frankie@olin.edu' or 'phoenixclub@olin.edu'") }}
              </div>

            </div>

          <div class="Form__flex Form__box Form__box__buttons">
            <input class="Form__button Form__button--green" type="submit" id="submitButton" name="Submit" value="Submit Changes" />
            <input class="Form__button Form__button--blue" type="reset" name="Reset" value="Reset Changes" onClick="window.location.reload()" />
            <input class="Form__button Form__button--red" type="button" value="Cancel Event" id="deleteButton" />
          </div>
        </form>
      </div>
    </main>
    {% include 'components/footer.html' %}
    </div>
    <script>
        // Load in times
        document.addEventListener("DOMContentLoaded", () => {
            var dtstart = "{{ form.dtstart.data }}".split(" ");
            var dtend = "{{ form.dtend.data }}".split(" ");

            var startDate = dtstart[0];
            var endDate = dtend[0];

            document.getElementById("start_date").value = startDate.replace("/", "-");
            document.getElementById("end_date").value = endDate.replace("/", "-");

            if (dtstart[1] !== "00:00:00") {
                document.getElementById("start_time").value = dtstart[1].substring(0,5);
                document.getElementById("end_time").value = dtend[1].substring(0,5);
            } else {
                document.getElementById('all_day').checked = true;
                document.querySelectorAll("input[type='time']").forEach(el => el.disabled = true);
            }
        })

        document.getElementById('all_day').addEventListener('click', e => {
          if (e.target.checked) {
            document.querySelectorAll("input[type='time']").forEach(el => el.disabled = true);
          } else {
            document.querySelectorAll("input[type='time']").forEach(el => el.disabled = false);
          }
        });

        document.getElementById("deleteButton").addEventListener("click", e => {
            if (confirm("Are you sure you want to delete this event?")) {
                window.location.href = "/cancel_event/{{ event_id }}?magic={{ magic }}";
            } else {
                e.preventDefault();
            }
        });

        function validateForm(e) {
          var start = document.getElementById('start_date').value;
          var end = document.getElementById('end_date').value;

          if (!document.getElementById("all_day").checked) {
            start = start + " " + document.getElementById("start_time").value;
            end = end + " " + document.getElementById("end_time").value;
          }

          var dtstart = new Date(start);
          var dtend = new Date(end);

          if (dtstart > dtend) {
            alert("Start Time cannot be later than End Time!");
            e.preventDefault(); // Prevent form from being submitted
            return;
          }

          const options = {
              year: "2-digit",
              month:"2-digit",
              day:"2-digit",
              hour12: false,
              hour: "2-digit",
              minute: "2-digit",
              second: "2-digit"
          }
          document.getElementById("dtstart").value = dtstart.toLocaleString("en-us", options).replace(",","");
          document.getElementById("dtend").value = dtend.toLocaleString("en-us", options).replace(",","");

          // Must be an Olin Email
          var emailPattern = /.*@olin\.edu/
          var email = document.getElementById('host_email').value;

          if (!emailPattern.test(email)) {
              alert("You must use an Olin email!");
              e.preventDefault()
              return;
          }
        }

        document.getElementById('submitButton')
            .addEventListener('click', e => validateForm(e))

    </script>
{% endblock %}
