{% block page %}
<header>
</header>
<main>
    <form action="/edit/{{event_data['_id']}}?magic=event_data['magic']" method="POST" enctype='multipart/form-data'>
        <label for="title">Event title</label><br>
        <input type="text" id="title" name="title" class="form-control" value="{{event_data['title']}}" required><br>
        <label for="description">Description</label><br>
        <textarea type="text" id="description" name="description" class="form-control" placeholder="{{event_data['description']}}" value="{{event_data['description']}}" required></textarea><br>
        <label for="start">start</label><br>
        <input type="text" id="start" name="start" class="form-control" value="{{event_data['start']}}" required><br>
        <label for="end">end</label><br>
        <input type="text" id="end" name="end" class="form-control" value="{{event_data['end']}}" required><br>
        <label for="location">location</label><br>
        <input type="text" id="location" name="location" class="form-control" value="{{event_data['location']}}" required><br>
        <label for="rrule">rrule</label><br>
        <input type="text" id="rrule" name="rrule" class="form-control" value="{{event_data['rrule']}}" required><br>
        
        <button type="submit" id="sub" name="sub">Update event</button><br> 
    </form>
</main>
{% endblock %}