{% extends 'base.html' %}
{% block page %}
    <div class="Mainflex">
    {% include 'components/header--edit.html' %}
    <main>
      <div class="Page">
        <form class="Form" action="" method="POST" autocomplete="off" id="eventForm">
            {{ form.csrf_token }}

            <div class="Form__box">

              <div class="Form__field">
                {{ form.title.label }}
                {{ form.title(placeholder="'Hang out with Frank the Phoenix!'") }}
              </div>

              <div class="Form__row">
                <div class="Form__row__time">
                  <div class="Form__row__time__labels">
                    <label>Date & Time</label>
                    <span>Note: You are submitting this in your time zone!<span>
                  </div>
                  <div class="Form__row__time__fields">
                    <input type="date" id="start_date" required/>
                    <input type="time" id="start_time" style="width:7rem" required/>
                    <p>to</p>
                    <input type="time" id="end_time" style="width:7rem" required/>
                    <input type="date" id="end_date" style="margin-right:0em" required/>
                  </div>
                </div>
                <div class="Form__row__day">
                  <label>
                    {{ form.all_day() }}
                    {{ form.all_day.label }}
                  </label>
                </div>
                <div style="display: none">
                  {{ form.dtstart }}
                  {{ form.dtend }}
                </div>
              </div>

              <div class="Form__field">
                {{ form.location.label }}
                {{ form.location(placeholder="'Dining Hall' or 'olin.zoom.us/j/123456789'") }}
              </div>

              <div class="Form__field">
                <label>Category
                  <svg class="Form__tooltip" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                  </svg>
                  <span class="Form__tooltip__text">Choose the one that best describes the type of your event or who’s hosting it. If still unsure, refer to the FAQ.</span>
                </label>
                <div class="Form__category">
                  {{ form.category(placeholder="Choose a category") }}
                </div>
              </div>

              <div class="Form__field">
                {{ form.description.label }}
                {{ form.description(placeholder="Who might be interested? What would they be doing? Is there anything they need to have done before hand?

*If you have a zoom invite, feel free to add it here.") }}
              </div>

              <div class="Form__field">
                  <label>Host Name
                    <svg class="Form__tooltip" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <circle cx="12" cy="12" r="10"></circle>
                      <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                      <line x1="12" y1="17" x2="12.01" y2="17"></line>
                    </svg>
                    <span class="Form__tooltip__text">A host can be either an individual or a group on campus. This will be displayed on the event page.</span>
                  </label>
                  {{ form.host_name(placeholder="'Frankie Olin' or 'The Phoenix Club'") }}
                  <label>Point of Contact Email
                    <svg class="Form__tooltip" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <circle cx="12" cy="12" r="10"></circle>
                      <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                      <line x1="12" y1="17" x2="12.01" y2="17"></line>
                    </svg>
                    <span class="Form__tooltip__text">This email will receive updates from the moderator team. It will also be displayed for people to reach out with questions.</span>
                  </label>
                  {{ form.host_email(placeholder="'frankie@olin.edu' or 'phoenixclub@olin.edu'") }}
              </div>

            </div>
          <div class="Form__flex Form__box Form__box__buttons">
            <input class="Form__button Form__button--green" type="submit" id="submitButton" name="Submit" value="Submit Changes" />
            <input class="Form__button Form__button--blue" type="reset" name="Reset" value="Reset Changes" onClick="window.location.reload()" />
            <input class="Form__button Form__button--red" type="button" value="Cancel Event" id="deleteButton" />
          </div>
        </form>
      </div>
    </main>
    {% include 'components/footer.html' %}
    </div>
    <script>
        const zeroPad = (num, len = 2) => `${num}`.padStart(len, '0');
        const buildDateString = (d) => `${d.getFullYear()}-${zeroPad(d.getMonth()+1)}-${zeroPad(d.getDate())}`;

        // Load in times
        document.addEventListener("DOMContentLoaded", () => {
            // All of this pains me greatly, but it will do for now
            const allDayEvent = "{{ form.all_day.data }}" === 'True';
            const dtstart = "{{ form.dtstart.data }}";
            const dtend = "{{ form.dtend.data }}";
            if (allDayEvent) {
                document.getElementById("start_date").value = dtstart.substr(0, 10);
                // All-day events are saved as ending at midnight the day after, but we want to set the date picker
                // to the prior day, so subtract one day from the saved date
                document.getElementById("end_date").value = dayjs(dtend.substr(0, 10)).subtract(1, 'd').format('YYYY-MM-DD');
                document.getElementById('all_day').checked = true;
                document.querySelectorAll("input[type='time']").forEach(el => el.disabled = true);
            } else {
                // The following code _should_ handle converting timezones properly (but it's still a bit of a mess)
                const startDateTime = new Date(dtstart);
                const endDateTime = new Date(dtend);
                document.getElementById("start_date").value = buildDateString(startDateTime);
                document.getElementById("end_date").value = buildDateString(endDateTime);
                document.getElementById("start_time").value = `${zeroPad(startDateTime.getHours())}:${zeroPad(startDateTime.getMinutes())}`;
                document.getElementById("end_time").value = `${zeroPad(endDateTime.getHours())}:${zeroPad(endDateTime.getMinutes())}`;
            }
        })

        document.getElementById('all_day').addEventListener('click', e => {
          if (e.target.checked) {
            document.querySelectorAll("input[type='time']").forEach(el => el.disabled = true);
          } else {
            document.querySelectorAll("input[type='time']").forEach(el => el.disabled = false);
          }
        });

        document.getElementById("deleteButton").addEventListener("click", e => {
            if (confirm("Are you sure you want to delete this event?")) {
                window.location.href = "/cancel_event/{{ event_id }}?magic={{ magic }}";
            } else {
                e.preventDefault();
            }
        });

        function validateForm(e) {
          {% if status == "Approved" %}
            if (confirm("Submitting this event will send a new ical to everyone who already exported this event. Are you sure you want to submit these changes?")) {
              console.log("event submitted")
            } else {
              e.preventDefault();
              return;
            }
          {% endif %}
          const allDayEvent = document.getElementById("all_day").checked;
          const startDateString = document.getElementById('start_date').value;
          const endDateString = document.getElementById('end_date').value;
          let dtstart, dtend;
          if (allDayEvent) {
            // Ignore any times
            dtstart = startDateString;
            // FullCalendar and iCal want the end date to be midnight of the next day
            dtend = dayjs(endDateString).add(1, 'd').format('YYYY-MM-DD');
          } else {
            const startTimeString = document.getElementById("start_time").value;
            const endTimeString = document.getElementById("end_time").value;
            dtstart = new Date(`${startDateString}T${startTimeString}`).toISOString();
            dtend = new Date(`${endDateString}T${endTimeString}`).toISOString();
          }

          if (new Date(dtstart) > new Date(dtend)) {
            alert("Start Time cannot be later than End Time!");
            e.preventDefault(); // Prevent form from being submitted
            return;
          }

          document.getElementById('dtstart').value = dtstart;
          document.getElementById('dtend').value = dtend;

          // Must be an Olin Email
          var emailPattern = /.*@olin\.edu/
          var email = document.getElementById('host_email').value;

          if (!emailPattern.test(email)) {
              alert("You must use an Olin email!");
              e.preventDefault()
              return;
          }
        }

        document.getElementById('submitButton')
            .addEventListener('click', e => validateForm(e))

    </script>
{% endblock %}
