<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Pathway+Gothic+One&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='info-pages.css')}}" rel="stylesheet" type="text/css">
</head>

<body>

<div class="fixedheader">
    <h1>
        <img src="{{ url_for('static', filename='images/franks_cal_logo.png') }}" alt="Frank's Calendar Logo" height="30px"
        margin-right="1em"/>
        <span id="frankscal">Frank's Calendar </span>
		<span  class="addspace"></span> - <span  class="addspace"></span>
		<span id="post">How to Export Events</span>
    </h1>
</div>

<div id="main">

[table of contents goes here]


<h2 id="how-to-export">How to Export Events</h2>

    </body>
