{% extends 'base.html' %}
{% block page %}
    {% include 'components/header.html' %}

    <main>
    <div class="FAQ">
        <h1 class="FAQ__title">
            <svg class="FAQ__title__icon" xmlns="http://www.w3.org/2000/svg" width=".7em" height=".7em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="16" x2="12" y2="12"></line>
                <line x1="12" y1="8" x2="12.01" y2="8"></line>
            </svg>
            Frequently Asked Questions
        </h1>

        

        <h2 class="FAQ__section-header">Adding</h2>
        <details class="FAQ__question Color--green">
            <summary class="FAQ__question__summary">How do you add an event to Frank's Calendar?</summary>
            <div class="FAQ__question__answer">
            <p>Fill out <a href="../add">this form</a> to submit your event for display on Frank's Calendar, and wait for an email from the moderators! Moderators will get back to you within 24 hours either to let you know that your event has been approved and is being displayed on the calendar, or that there are some changes you need to make to your submission before it can be approved. </p>
            </div>
            
        </details>
        <details class="FAQ__question Color--green">
            <summary class="FAQ__question__summary">Can I add an event by sharing it from my personal calendar?</summary>
            <div class="FAQ__question__answer">
                <p>Not right now. This may be an upcoming feature, though. If you think you'd use a feature like this if it were availible, please let us know in the <a href="https://forms.gle/R1WKvUcC85pcLiu28">feedback form</a>!</p>
            </div>
        </details>

        <h2 class="FAQ__section-header">Filtering</h2>
        <details class="FAQ__question Color--blue">
            <summary class="FAQ__question__summary">How are events categorized?</summary>
            <div class="FAQ__question__answer">
                <p>Events get categorized in two different ways:</p>
                <ul>
                <li>If the event was published via a <em>calendar invite</em>, the database will check and see if it’s from an email sender that has an associated category.</li>
                <ul>
                <li>For instance, the Director of PGP’s email will be associated with the <strong>PGP</strong> filter, so any events they send will automatically be tagged that way.</li>
                <li>If they share an event that isn’t related to PGP, they need to <span class="FAQ__underline">contact the moderator</span> to have them manually change the associated category.</li> 
                </ul>
                <li>If an event was published via the <em>online form</em>, the person will manually assign a category to the event before submitting it for approval.</li>
                </ul>
            </div>        
        </details>
        <details class="FAQ__question Color--blue">
            <summary class="FAQ__question__summary">What if my event is a collaboration between two of the filter groups?</summary>
            <div class="FAQ__question__answer">
                <p> In that case, please pick a category that you think best suits the intention of the event!</p>
                <p> For example, if the event is titled “Equity in the Workspace” and is co-hosted by Diversity & Inclusion and PGP, “Diversity & Inclusion” might be the more fitting category for the event. However, know that it can always be indicated in the “What?” section of the event that it is a collaboration between two (or more) departments. </p>
            </div>        
        </details>

        <h2 class="FAQ__section-header">Exporting</h2>
        <details class="FAQ__question Color--yellow">
            <summary class="FAQ__question__summary">How do I export an event to my personal calendar?</summary>
            <div class="FAQ__question__answer">

                <!-- add image with "send me the ical" button and field circled (https://docs.google.com/document/d/1zAyVHuH_RkBbx-mYA7hytCvYL_ic_Gkb1L5EhEjtF8U/edit#heading=h.iatcv8ci3ypt) here after image from real site can be taken -->

                <ol>
                <li>Click into an event in the main calendar page -- it will bring you to a page with more event details, pictured above</li>
                <li>At the bottom, there will be a text field prompting you for your email address</li>
                <li>Fill in the field with the email account that your personal calendar is attached to, and hit “send me the ical”</li>
                <li>You will then receive an email with an event invitation that you can add to your personal calendar</li> 
                </ol>
            </div>        
        </details>
        <details class="FAQ__question Color--yellow">
            <summary class="FAQ__question__summary">What happens if an event you exported to your calendar is edited or deleted on Frank’s Calendar?</summary>
            <div class="FAQ__question__answer">
                <p> If an event detail or timing has changed, Frank’s Calendar will send you an email notifying you of event changes for an event you exported to your calendar. The email will also contain an updated event invitation for you to add to your calendar. </p>
            </div>        
        </details>

        <h2 class="FAQ__section-header">About</h2>
        <details class="FAQ__question Color--purple">
            <summary class="FAQ__question__summary">How was Frank's Calendar founded?</summary>
            <div class="FAQ__question__answer">
                <p>Frank’s Calendar was founded through the last three sprints of Products & Markets in Spring 2020. The original team consisted of Ruby Eisenbud, Jules Brettle, Jack Greenberg, and Karen Hinh, who took the project from initial ideation and market research to full product development. </p>
                <p>Over the summer, the project expanded to include Kyle Combes as a mentor, and added Kelly Yen as a back-end developer. The MVP was built and launched in time for Fall 2020.</p>
            </div>        
        </details>
        <details class="FAQ__question Color--purple">
            <summary class="FAQ__question__summary">Why was this calendar built?</summary>
            <div class="FAQ__question__answer">
                
                <p>We receive <strong>a lot</strong> of emails at Olin, especially when it comes to events being shared with the whole community. Whether the email is packed full of event details or a simple, “HAPPENING NOW!” notification, it is hard to keep track of all of this information. </p>
                <p>Past attempts at building a community calendar for Olin have failed because they weren’t ubiquitous enough. The process to make icals or add events was also too much work on those platforms.</p>
                <p>That’s why Frank’s Calendar was built: it takes all of the community-wide events on campus and puts them in one place. Its’ main design focus is <strong>ease-of-use</strong> for both event browsers and hosters. </p>
            </div>        
        </details>
        <details class="FAQ__question Color--purple">
            <summary class="FAQ__question__summary">What's its main purpose?</summary>
            <div class="FAQ__question__answer">
                <p>The platform easily allows any member of the Olin Community to:</p>
                <ol>
                <li>See what events are coming up</li>
                <li>Share events they are hosting</li>
                <li>Export events they are interested in to their calendar.</li>
                </ol>
                <p>The calendar was designed for people looking for events to attend in the upcoming day or week. It is also for event organizers to see what events have already been scheduled, and find a conflict-free time for their own event.</p>
            </div>        
        </details>

    </div>

    </main>

    {% include 'components/footer.html' %}
{% endblock %}