{% extends 'base.html' %}
{% block page %}
    <div class="Mainflex">
    {% include 'components/header.html' %}

    <main>
    <div class="FAQ">
        <h1 class="FAQ__title">
            Frequently Asked Questions
        </h1>

        <h2 class="FAQ__section-header" style="margin-top:0;">Filtering Events</h2>
        <details class="FAQ__question Color--1">
            <summary class="FAQ__question__summary">How are events categorized?</summary>
            <div class="FAQ__question__answer">
                <p>When an event is published via the <a href="../add">online form</a>, the organizer will manually assign a category to the event before submitting it for approval.</p>
            </div>
        </details>
        <details class="FAQ__question Color--1">
            <summary class="FAQ__question__summary">What category does this event belong to?</summary>
            <div class="FAQ__question__answer">
                <p> Here’s an overview of what some categories mean: </p>

                <table>
                    <tr>
                        <td><p> <strong class="Color__mark--academic">Academic Affairs</strong> </p>
                        </td>
                        <td><p> Any event that is related to academics at Olin</p>
                    <p>Sub-filters are <strong class="Color__mark--academic">Academic Calendar</strong> and <strong class="Color__mark--academic">Academic Support</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td><p> <strong class="Color__mark--student">Student Affairs</strong></p>
                        </td>
                        <td><p> Any event that is related to student affairs at Olin</p>
                        <p> Sub-filters are <strong class="Color__mark--student">Residential</strong>, <strong class="Color__mark--student">Health & Wellness</strong>, <strong class="Color__mark--student">PGP</strong>, <strong class="Color__mark--student">HR</strong>, <strong class="Color__mark--student">Intl’ & Study Away</strong>, and <strong class="Color__mark--student">Diversity & Inclusion</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td><p> <strong class="Color__mark--admission"> Admission & Financial Aid</strong></p>
                        </td>
                        <td><p> Any event related to or hosted by Admission and Financial Aid, e.g. Candidate’s Weekend or Financial Aid hours (as long as these hours are open to the whole community)</p>
                        </td>
                    </tr>
                    <tr>
                        <td><p> <strong class="Color__mark--library">The Library</strong></p>
                        </td>
                        <td><p> Any event related to or hosted by the Library, e.g. a Book Talk with an author</p>
                        </td>
                    </tr>
                    <tr>
                        <td><p> <strong class="Color__mark--shop">The Shop</strong></p>
                        </td>
                        <td><p> Any event related to or hosted by the Shop, e.g. a “Chips and Guac” session with NINJAs</p>
                        </td>
                    </tr>
                    <tr>
                        <td><p> <strong class="Color__mark--clubs">Clubs & Organizations</strong></p>
                        </td>
                        <td><p> Any event hosted by student clubs on campus <span class="FAQ__underline">that are open to the whole community</span>, e.g. a PInT speaker event or a Formula info session for interested students</p>
                        </td>
                    </tr>
                    <tr>
                        <td><p> <strong class="Color__mark--other">Other Events</strong></p>
                        </td>
                        <td><p> Any Oliner-hosted event <span class="FAQ__underline">not</span> related to any of the above categories but still open to the whole Olin community, e.g. a COVID update or an individually hosted workshop</p>
                        </td>
                    </tr>
                </table>

            </div>
        </details>
        <details class="FAQ__question Color--1">
            <summary class="FAQ__question__summary">What if the event is a collaboration between two of the filter groups?</summary>
            <div class="FAQ__question__answer">
                <p> In that case, please pick a single category that best suits the intention of the event!</p>
                <p> For example, if the event is titled “Equity in the Workspace” and is co-hosted by Diversity & Inclusion and PGP, “Diversity & Inclusion” might be the more fitting category for the event. However, know that it can always be indicated in the “What?” section of the event that it is a collaboration between two (or more) departments. </p>
            </div>
        </details>
        <details class="FAQ__question Color--1">
            <summary class="FAQ__question__summary">Are there any other tags or filters other than the ones on the sidebar right now?</summary>
            <div class="FAQ__question__answer">
                <p>Not yet! If this feature sounds useful, let the moderators know in the <a href="https://bit.ly/frankscal-feedback" target="_blank">feedback form</a>!</p>
            </div>
        </details>

        <h2 class="FAQ__section-header">Adding/Exporting Events</h2>
        <details class="FAQ__question Color--2">
            <summary class="FAQ__question__summary">How are events added to Frank's Calendar?</summary>
            <div class="FAQ__question__answer">
            <p>Fill out the <a href="../add">online form</a> to submit an event for display on Frank's Calendar, and wait for an email from the moderators! Moderators will reply within 24 hours either with a notification of approval, a request for changes to be made, or a cancellation notice if the event doesn't adhere to <a href="/guidelines">Frank's Calendar guidelines</a>.</p>
            </div>

        </details>
        <details class="FAQ__question Color--2">
            <summary class="FAQ__question__summary">How can an event be exported to a personal calendar?</summary>
            <div class="FAQ__question__answer">

                <!-- add image with "send me the ical" button and field circled (https://docs.google.com/document/d/1zAyVHuH_RkBbx-mYA7hytCvYL_ic_Gkb1L5EhEjtF8U/edit#heading=h.iatcv8ci3ypt) here after image from real site can be taken -->

                <ol>
                  <li>Click into an event in the main calendar page -- it will bring up a page with more event details, pictured above</li>
                  <li>At the bottom, there will be a text field for an email address. Enter the email address of the preferred calendar platform (i.e. @gmail.com for a Google calendar or @olin.edu for an Outlook calendar.</li>
                  <li>Hit “Send me an iCal”</li>
                  <li>Wait for an email with an event invitation and click "Yes" in the RSVP field.</li>
                </ol>
            </div>
        </details>
        <details class="FAQ__question Color--2">
            <summary class="FAQ__question__summary">What happens if an exported event is edited or deleted on Frank’s Calendar?</summary>
            <div class="FAQ__question__answer">
                <p> If an event detail or timing has changed, Frank’s Calendar will send an email containing an updated event invitation. </p>
            </div>
        </details>


        <details class="FAQ__question Color--2">
            <summary class="FAQ__question__summary"> Can events be submitted to Frank's Calendar from Google/Outlook calendar directly?</summary>
            <div class="FAQ__question__answer">
                <p>Not yet! If this feature sounds useful, let the moderators know in the <a href="https://bit.ly/frankscal-feedback" target="_blank">feedback form</a>!</p>
            </div>
        </details>



        <h2 class="FAQ__section-header">About the Project</h2>
        <details class="FAQ__question Color--3">
            <summary class="FAQ__question__summary">How was Frank's Calendar founded?</summary>
            <div class="FAQ__question__answer">
                <p>Frank’s Calendar was founded through the last three sprints of Products & Markets in Spring 2020. The original team consisted of Ruby Eisenbud '23, Jules Brettle '23, Jack Greenberg '23, and Karen Hinh '23, who took the project from initial ideation and market research to full product development. </p>
                <p>Over the summer, the project expanded to include Kyle Combes '20 as a mentor, and added Kelly Yen '23 as a back-end developer. Raquel Dunoff '21 joined near the end to help with launch, and will be staying on with the new Frank's Calendar team.</p>
                <p>The MVP was built and launched in time for Fall 2020.</p>
            </div>
        </details>
        <details class="FAQ__question Color--3">
            <summary class="FAQ__question__summary">Why was this calendar built?</summary>
            <div class="FAQ__question__answer">

                <p>Oliners receive <strong>a lot</strong> of emails, especially when it comes to events being shared with the whole community. Whether the email is packed full of event details or a simple, “HAPPENING NOW!” notification, it can be hard to keep track of all of this information. </p>
                <p>Past attempts at building a community calendar for Olin have failed because they weren’t ubiquitous enough. The process to make icals or add events was also too much work on those platforms.</p>
                <p>That’s why Frank’s Calendar was built: it takes all of the community-wide events on campus and puts them in one place. Its’ main design focus is <strong>ease-of-use</strong> for both event browsers and hosters. </p>
            </div>
        </details>
        <details class="FAQ__question Color--3">
            <summary class="FAQ__question__summary">What's its main purpose?</summary>
            <div class="FAQ__question__answer">
                <p>The platform easily allows any member of the Olin Community to:</p>
                <ol>
                <li>See what events are coming up</li>
                <li>Share events they are hosting</li>
                <li>Export events they are interested in to their calendar.</li>
                </ol>
                <p>The calendar was designed for people looking for events to attend in the upcoming day or week. It is also for event organizers to see what events have already been scheduled, and find a conflict-free time for their own event.</p>
            </div>
        </details>

    </div>

    </main>

    {% include 'components/footer.html' %}
    </div>
{% endblock %}
