<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Pathway+Gothic+One&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='info-pages.css')}}" rel="stylesheet" type="text/css">

</head>

<body>

<div class="fixedheader">
    <h1>
        <img src="{{ url_for('static', filename='images/franks_cal_logo.png') }}" alt="Frank's Calendar Logo" height="30px"
        margin-right="1em"/>
        <span id="frankscal"> Frank's Calendar </span>
		<span  class="addspace"></span> - <span  class="addspace"></span>
		<span id="post">Filter Guide</span>
    </h1>
</div>

<div id="main">

  <a href="/">← Back to Calendar</a>

  <h2 id="filter-guide">Filter Guide</h2>

  <h3>How do events get filtered?</h3>
  <p>Events get filtered in two different ways:</p>
  <ul>
    <li>If the event was published via a <em>calendar invite</em>, the database will check and see if it’s from an email sender that has an associated category</li>
    <ul>
      <li>For instance, the Director of PGP’s email will be associated with the <mark class="student-affairs">PGP</mark> filter, so any events they send will automatically be tagged that way</li>
      <li>If they share an event that isn’t related to PGP, they need to <span class="underlined">contact the moderator</span> to have them manually change the associated category</li>
    </ul>
    <li>If an event was published via the <em>online form</em>, the person will manually assign a category to the event before submitting it for approval</li>
  </ul>

  <h3>What are filter groups?</h3>
  <p>There are certain filter groups to shorten the long list of filters at first glance, and unite similar filters together under one comprehensive category. Below are explanations of the two filter groups we have:</p>
  <ul>
    <li><strong>Academic Affairs</strong>
    <ul>
      <li>Any event that is related to academics at Olin</li>
      <li>Sub-filters are <mark class="academic-affairs">Academic Calendar</mark> and <mark class=academic-affairs>Academic Advising</mark></li>
    </ul>
    <li><strong>Student Affairs</strong>
    <ul>
      <li>Any event that is related to student affairs at Olin</li>
      <li>Sub-filters are <mark class="student-affairs">Residential</mark>, <mark class="student-affairs">Health & Wellness</mark>, <mark class="student-affairs">PGP</mark>, <mark class="student-affairs">HR</mark>, <mark class="student-affairs">Intl’ & Study Away</mark>, and <mark class="student-affairs">Diversity & Inclusion</mark></li>
    </ul>
  </ul>

  <h3>Individuals associated with a filter</h3>
  <p>The list of individual filters is somewhat long, because Frank’s Calendar aimed to find a balance between detail and conciseness. Going back to how certain events are tagged automatically with a filter if shared via a calendar invite, below is an explanation for who’s emails are associated with which filters:</p>
  <ul>
    <li><mark class="academic-affairs">Academic Calendar:</mark> Registrar’s Office, Provost, Director of Academic Affairs</li>
    <ul>
      <li>Currently <span class="underlined">Angela Burke</span>, <span class="underlined">Vivien Bouffard</span>, <span class="underlined">Linda Canavan</span>, <span class="underlined">Mark Somerville</span>, and <span class="underlined">Susan Mihailidis</span></li>
    </ul>
    <li><mark class="academic-affairs">Academic Advising:</mark> Assistant Dean of Student Affairs</li>
    <ul>
      <li>Currently <span class="underlined">Adva Waranyuwat</span></li>
    </ul>
    <li><mark class="student-affairs">Residential:</mark> Assistant Dean of Student Affairs</li>
    <ul>
    <li>Currently <span class="underlined">Seth Hodge</span></li>
    </ul>
    <li><mark class="student-affairs">Health & Wellness:</mark> Director of Wellness</li>
    <ul>
      <li>Currently <span class="underlined">Beth Grampetro</span></li>
    </ul>
    <li><mark class="student-affairs">PGP:</mark> PGP’s Office</li>
    <ul>
      <li>Currently <span class="underlined">Suzanne Alcott</span> and <span class="underlined">Sally Phelps</span></li>
    </ul>
    <li><mark class="student-affairs">HR:</mark> Human Resources</li>
    <ul>
      <li>Currently <span class="underlined">hr@olin.edu</span></li>
    </ul>
    <li><mark class="student-affairs">Diversity & Inclusion:</mark> Director of Diversity & Inclusion</li>
    <ul>
      <li>Currently <span class="underlined">Stephanie Milton</span></li>
    </ul>
    <li><mark class="student-affairs">Intl’ & Study Away:</mark> International Programs Coordinator</li>
    <ul>
      <li>Currently <span class="underlined">Courtney Beach</span></li>
    </ul>
    <li><mark class="admission-financial-aid">Admission & Financial Aid:</mark> The entire office of Admission & Financial Aid</li>
    <ul>
      <li>Currently <span class="underlined">Emily Roper-Doten</span>, <span class="underlined">Krystal Burgos</span>, <span class="underlined">Stephanie Hill</span>, <span class="underlined">Alia Georges</span>, <span class="underlined">Susan Brisson</span>, <span class="underlined">Jean Ricker</span>, <span class="underlined">Victoria Moore</span>, and
        <span class="underlined">FinAid@olin.edu</span></li>
    </ul>
    <li><mark class="library">The Library:</mark> The entire Library team</li>
    <ul>
      <li>Currently <span class="underlined">Callan Bignoli</span>, <span class="underlined">Maggie Anderson</span>, and <span class="underlined">Mckenzie Mullen</span></li>
    </ul>
    <li><mark class="shop">The Shop:</mark> The entire Shop team</li>
    <ul>
      <li>Currently <span class="underlined">Daniela Faas</span>, <span class="underlined">Nathan Cantrell</span>, <span class="underlined">Bruce Andruskiewicz</span>, and <span class="underlined">Lucas Ewing</span></li>
    </ul>
    <li><mark class="clubs-organizations">Clubs & Organizations:</mark> No associated emails, since club and organization student leadership changes so frequently; moderator will assign as needed</li>
    <li><mark class="other-events">Other Events:</mark> No associated emails; this filter is for events not associated with any of the above categories (i.e. unaffiliated speaker events or workshops)</li>
  </ul>

</body>
