{% extends 'base.html' %}
{% block page %}
    {% include 'components/header.html' %}

    <main>
    <div class="Guidelines">

        <div class="Guidelines__section">
            <h2 class="Guidelines__section__head">What belongs on Frank's Calendar?</h2>
            <div class="Guidelines__section__content">

                <p>Frank’s Calendar puts campus events in one place, and should be used to share events with the Olin community that are also being shared via other channels (carpe emails, flyers around campus, etc).</p>

                <p>Since Olin is a busy place and it would be impossible to capture everything happening on campus, Frank’s Calendar only advertises community-wide events.</p>

                <table class="Guidelines__table">
                    
                    <tr class="Guidelines__table__row">
                        <td class="Guidelines__table__row__data">
                            <h3 class="Guidelines__belong ">These belong</h3>
                            <ul class="Guidelines__pluses">
                                <li>Events public to the <span class="Guidelines__underline">Olin community</span> (current students, faculty and staff)</li>
                                <li>Events hosted by a member of the <span class="Guidelines__underline">Olin community</span></li>
                            </ul>

                        </td>
                        <td class="Guidelines__table__row__data">
                            <h3 class="Guidelines__dont-belong">These don't</h3>
                            <ul class="Guidelines__minuses">
                                <li>Events only open to a <span class="Guidelines__underline">smaller group of people</span> (e.g. club meetings only for club members, parties with your friends)</li>
                                
                                <li>Events hosted by <span class="Guidelines__underline">non-Oliners</span></li>
                            </ul>

                        </td>
                    </tr>
                </table>
                

            </div>
        </div>

        <div class="Guidelines__section">
            <h2 class="Guidelines__section__head">Moderator System</h2>
            <div class="Guidelines__section__content">

                <p> Calendar moderators maintain the events on the calendar to guarantee that Frank’s Calendar is populated with <span class="Guidelines__underline">accurate, up to date information</span> about what is happening on campus. They also monitor events to make sure they meet the requirements of what is okay to share. </p>
                    <p> <span class="Guidelines__underline">Their job and admin privileges include:</span></p>
                    <ul>
                        <li>Reviewing event submissions</li>
                        <li>Approving, requesting changes, or cancelling an event submission</li>
                        <li>Sharing the link to edit your event with you if you lost it</li>
                    </ul>
                    <h3 class="Guidelines__mods">Current Moderators</h3>
                    <div class="Guidelines__centered">
                        <p>Jules Brettle (she/her) | <a href="mailto:jbrettle@olin.edu">jbrettle@olin.edu</a></p>
                        <p>Raquel Dunoff (she/they) | <a href="mailto:rdunoff@olin.edu">rdunoff@olin.edu</a> </p>
                    </div>
                

            </div>
        </div>

    </div>

    </main>

    {% include 'components/footer.html' %}
{% endblock %}