{% extends 'base.html' %}
{% block page %}

  <div style="display:flex; flex-direction: column; height:100%">
    <div class="Messages">
        {% for msg in get_flashed_messages() %}
        <div class="Message">
            {{ msg }}
        </div>
        {% endfor %}
    </div>
    {% include 'components/header.html' %}

    <div id="calendar-root" class="Main"></div>

    {% include 'components/footer.html' %}
  </div>

    <script src="{{url_for('public.static', filename='build.js')}}"></script>
{% endblock %}
