{% extends 'base.html' %}
{% block page %}
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Pathway Gothic One' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap' rel='stylesheet'>
  <style>
    h1 {
      font-family: 'Pathway Gothic One';
      font-size: 50px;
    }
    footer {
      font-family: 'Lato';
      text-align: center;
      color: black;
      font-size: 15px;
    }
    </style>
    
</head>
<body>
  <section id="siteheader">

    <div>
      <h1> <img src="franks_cal_logo.png" alt="Frank's Calendar Logo" width="40" height="40"> <i>FRANK'S CALENDAR</i></h1>
        
        
        
    </div>
             

    </section>

    <footer>
        <p> Made with ♥ at Olin College <br>
        <a href="https://forms.gle/R1WKvUcC85pcLiu28">Leave us feedback</a> | <a href="https://github.com/jack-greenberg/franks-calendar">View on Github</a> </p>
        
    </footer>

</body>
</html>

{% endblock %}