{% extends 'base.html' %}
{% block page %}

<section>
  <!-- Filter section -->
  <article>
    <button class="buttonA" onclick="location.href='eventform.com';">Submit event</button>

    <h1>Filters</h1>
    <div class="btn-group">
      <button class="button1" onclick="trigger1()">Admissions/Financial</button>
      <button class="button2" onclick="trigger2()">Clubs</button>
      <button class="button3" onclick="trigger3()">Student Life</button>
      <button class="button4" onclick="trigger4()">Foundry/BOW</button>
      <button class="button5" onclick="trigger5()">Health/Wellness</button>
      <button class="button6" onclick="trigger6()">Library</button>
      <button class="button7" onclick="trigger7()">The Shop</button>
      <button class="button8" onclick="trigger8()">PGP</button>
    </div>

    <!-- User guide section -->
    <h1>User Guides</h1>
    <p>For help navigating the site, sharing an event to the calendar,
      or saving an event to your personal calendar.</p>
    <ul style="list-style-type:disc;">
      <li><p class="p2"><a href="https://linktouserguide.com">Share an event</a></p></li>
      <li><p class="p2"><a href="https://linktouserguide.com"> Export an event</a></p></li>
    </ul>

    <!-- Moderator section -->
    <h1>Moderators</h1>
    <p> Contact them if you need urgent approval for a new event listing.
      Otherwise, expect up to 24 hours for a new event to be displayed on the
      calendar!</p>
    <ul style="list-style-type:disc;">
      <li><p class="p2"><a href="mailto:jbrettle@olin.edu"> Jules Brettle</a></p></li>
      <li><p class="p2"><a href="mailto:jgreenberg@olin.edu"> Jack Greenberg</a></p></li>
    </ul>
  </article>

  <article class="article1">
    <button type="button" onclick="location.href='frankscalendar.com'">&larr; Back to Calendar</button>
    <!-- <h1>&larr;<small> Back to Calendar</small></h1>-->

    <h2>Event Title</h2>
    <button style="background-color:orange;" type="button" name="button">Filter Category</button>
    <!--<p>Filter Category
    <style media="screen">
      background-color:
    </style>
    </p>-->
    <p><b>Hosted by</b>  Host Name</p><br>
    <p><b>When?</b> Event Time</p><br>
    <p><b>Where?</b> Event Location</p><br>
    <p><b>What?</b> Event Description</p><br>
  </article>
</section>


{% endblock %}
