<html>
  <header class="Header">
      <div class="Header__logo">
          <img src="/static/images/franks_cal_logo.png" alt="Frank's Calendar Logo" class="Header__logo__icon" />
          <div class="Header__logo__side">
            <h1 class="Header__logo__text">Frank's</h1>
            <h1 class="Header__logo__text">Calendar</h1>
          </div>
      </div>
      <div class="Header__nav">
        <a class="Header__nav__event" href="http://64.227.7.192:5000/add">
          <svg class="Header__nav__event__icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
          New Event
        </a>
        <a class="Header__nav__link" href="http://64.227.7.192:5000/">
          <div class="Header__nav__link__wrapper">
            <svg class="Header__nav__link__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
              <line x1="16" y1="2" x2="16" y2="6"></line>
              <line x1="8" y1="2" x2="8" y2="6"></line>
              <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
            Calendar
          </div>
        </a>
        <a class="Header__nav__link" href="http://64.227.7.192:5000/guidelines">
          <div class="Header__nav__link__wrapper">
            <svg class="Header__nav__link__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
              <circle cx="9" cy="7" r="4"></circle>
              <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
              <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
            </svg>
            Guidelines
          </div>
        </a>
        <a class="Header__nav__link" href="http://64.227.7.192:5000/faq">
          <div class="Header__nav__link__wrapper">
            <svg class="Header__nav__link__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
              <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg>
            FAQ
          </div>
        </a>
      </div>
      <div class="Header__timezone">
        <p class="Header__timezone__title">Display Timezone</p>
        <p class="Header__timezone__time" id="Timezone"></p>
      </div>
  </header>

  <script>
    const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
    document.getElementById("Timezone").innerHTML = tz;

    $(function(){
    // this will get the full URL at the address bar
    var url = window.location.href;

    // passes on every "a" tag
    $("#sub-header a").each(function() {
            // checks if its the same on the address bar
        if(url == (this.href)) {
            $(this).closest("li").addClass("active");
        }
    });
});
  </script>
</html>
